/*
@media (min-width:320px) {  smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:480px) {  smartphones, Android phones, landscape iPhone  }
@media (min-width:600px) {  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:801px) {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) {  big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) {  hi-res laptops and desktops  }
*/
@-webkit-keyframes rotateItSelf {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7);
            transform: rotate(0deg) scale(0.7);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.7);
            transform: rotate(360deg) scale(0.7);
  }
}
@keyframes rotateItSelf {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7);
            transform: rotate(0deg) scale(0.7);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.7);
            transform: rotate(360deg) scale(0.7);
  }
}

:root {
  --clr-primary: hsl(202, 65%, 51%);
  --clr-secondary: hsl(54, 100%, 50%);
  --clr-footer: #ff6200;
  --clr-menu: hsl(271, 76%, 53%);
  --clr-white: 0 0% 100%;
  --clr-black: hsl(0, 0%, 0%);
  --primary-hs: 0 0%;
  --nn: hsl(0, 0%, 100%);
  --clr-btn-1: hsl(205, 85%, 40%);
  --clr-btn-2: hsl(40, 5%, 12%);
  --clr-btn-3: hsl(344, 85%, 53%);
  --clr-btn-4: hsl(52, 61%, 90%);
  --clr-logo-1: hsl(274, 53%, 37%);
  --cursor-stroke: none;
  --cursor-fill: hsl(225, 86%, 46%);
  --cursor-stroke-width: 1px;
  --fs-900: 9rem;
  --fs-700: 7rem;
  --fs-600: clamp(1.5rem, 4vw, 6rem);
  --fs-560: 5.6rem;
  --fs-480: 4.8rem;
  --fs-360: 3.6rem;
  --fs-240: 2.4rem;
  --fs-180: 1.8rem;
  --fs-160: 1.6rem;
  --fs-140: 1.4rem;
  --fs-120: 1.2rem;
  --ff: 'Comic Neue', cursive;
  --ff-doodle: 'Lemon', cursive;
  --ff-comic: 'd_CCMonologous';
  --padding-container: 0.6rem;
  --padding-corner: 2rem;
  --corner-flip-size-0: 2rem;
  --corner-flip-size-1: 7.5rem;
  --corner-flip-size-2: 16rem;
}

@media (max-width: 35.5rem) {
  :root {
    --fs-240: 2rem;
    --fs-140: clamp(1rem, 3vw, 1.4rem);
  }
}

html {
  font-size: 62.5%;
}

body {
  border: 0.02rem solid HSL(var(--primary-hs) 100%);
  font-family: var(--ff-comic);
  font-weight: 700;
  font-style: italic;
  overflow: hidden;
  background-color: #fff;
  z-index: -1;
}

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--padding-container) * 2.3);
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
  overflow: hidden;
}

.clr-white {
  color: HSL(var(--primary-hs) 100%);
}

.clr-black {
  color: HSL(var(--primary-hs) 0%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin, padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'd_CCMonologous';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  /* Read next point */
  unicode-range: U+000-5FF;
  /* Download only latin glyphs */
  src: local("d_CCMonologous"), url("../fonts/d_ccmonologous_bolditalic.woff2") format("woff2"), url("../fonts/d_ccmonologous_bolditalic.woff2") format("woff");
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-560 {
  font-size: var(--fs-560);
}

.fs-480 {
  font-size: var(--fs-480);
}

.fs-360 {
  font-size: var(--fs-360);
}

.fs-240 {
  font-size: var(--fs-240);
}

.fs-180 {
  font-size: var(--fs-180);
}

.fs-160 {
  font-size: var(--fs-160);
}

.fs-140 {
  font-size: var(--fs-140);
}

.fs-120 {
  font-size: var(--fs-120);
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 0.6rem;
}

.doodle__text {
  font-family: var(--ff-comic);
}

.btn {
  position: relative;
  width: 3.5rem;
  aspect-ratio: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 10px HSL(var(--primary-hs) 0%/0.3);
          box-shadow: 0 10px 10px HSL(var(--primary-hs) 0%/0.3);
  background: none;
  border: 0;
  z-index: 20;
}

@media (min-width: 35.5em) {
  .btn {
    width: 5rem;
  }
}

.btn-small {
  width: 3.35rem;
  height: auto;
}

@media (min-width: 35.5em) {
  .btn-small {
    width: 5.6rem;
  }
}

.btn[aria-selected='false'] {
  display: none;
}

.btn[aria-selected='true'] {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.btn__text {
  position: absolute;
  top: 0;
  left: -1.5rem;
  fill: var(--clr-btn-4);
  stroke: HSL(var(--primary-hs) 0%);
  stroke-width: 1px;
}

@media (min-width: 35.5em) {
  .btn__text {
    left: -3rem;
  }
}

.btn__text svg {
  width: 2.5rem;
  overflow: visible;
}

@media (min-width: 35.5em) {
  .btn__text svg {
    width: 4rem;
  }
}

.btn__text .text-cls-1 {
  fill: #f5f1d6;
  opacity: 0;
}

.btn .cls-1 {
  fill: var(--clr-btn-1);
}

.btn .cls-2 {
  fill: var(--clr-btn-2);
}

.btn .cls-3 {
  fill: var(--clr-btn-3);
}

.btn .cls-4 {
  fill: #f7f022;
}

.btn .cls-5 {
  fill: var(--clr-btn-4);
}

.menu-btn-close {
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 0;
  cursor: pointer;
}

@media (min-width: 35.5em) {
  .menu-btn-close {
    padding: 0.3em 2em;
  }
}

.skills__btn {
  position: relative;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.skills__btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.skills__btn.active img {
  -webkit-filter: invert(1%) sepia(136%) saturate(518%) hue-rotate(1394deg) brightness(83%) contrast(127%);
          filter: invert(1%) sepia(136%) saturate(518%) hue-rotate(1394deg) brightness(83%) contrast(127%);
  -webkit-transition: -webkit-filter 0.2s linear;
  transition: -webkit-filter 0.2s linear;
  transition: filter 0.2s linear;
  transition: filter 0.2s linear, -webkit-filter 0.2s linear;
}

.logo {
  width: 3.5rem;
  -ms-grid-column: 7;
  grid-column: 7;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 20;
}

@media (min-width: 35.5em) {
  .logo {
    width: 5rem;
  }
}

.logo svg {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.logo svg .cls-1 {
  fill: var(--clr-logo-1);
}

.logo svg .cls-2 {
  fill: HSL(var(--primary-hs) 100%);
}

.doodle {
  position: absolute;
  width: Max(19rem, 40vw);
  z-index: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out, -webkit-transform 0s;
  transition: opacity 2s ease-in-out, -webkit-transform 0s;
  transition: transform 0s, opacity 2s ease-in-out;
  transition: transform 0s, opacity 2s ease-in-out, -webkit-transform 0s;
}

.doodle svg {
  overflow: visible;
}

.doodle-cls-1 {
  stroke-miterlimit: 10;
}

.doodle-cls-2 {
  stroke-width: 0.4rem;
  -webkit-filter: drop-shadow(-20px 28px 2px HSL(var(--primary-hs) 0%/0.4));
          filter: drop-shadow(-20px 28px 2px HSL(var(--primary-hs) 0%/0.4));
}

.doodle-cls-3 {
  fill: HSL(var(--primary-hs) 90%);
}

.doodle-cls-1, .doodle-cls-2 {
  fill: HSL(var(--primary-hs) 100%);
}

.doodle-cls-1, .doodle-cls-3 {
  stroke-width: 0.3rem;
}

.doodle-cls-2, .doodle-cls-3 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.doodle-cls-1, .doodle-cls-2, .doodle-cls-3 {
  stroke: HSL(var(--primary-hs) 0%);
}

@media (max-width: 20em) {
  .doodle {
    width: 0;
  }
}

.photo,
.pre-photo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / span 4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-transform: translate(3rem, 5rem);
          transform: translate(3rem, 5rem);
  z-index: -1;
}

.photo > *,
.pre-photo > * {
  min-width: 40rem;
}

@media (max-width: 20em) {
  .photo > *,
  .pre-photo > * {
    min-width: auto;
  }
}

@media (min-width: 20em) {
  .photo,
  .pre-photo {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3 / span 6;
    -webkit-transform: translate(5rem, 9rem);
            transform: translate(5rem, 9rem);
  }
  .photo > *,
  .pre-photo > * {
    min-width: 40rem;
  }
}

@media (min-width: 35.5em) {
  .photo,
  .pre-photo {
    -webkit-transform: translate(16rem, 15rem);
            transform: translate(16rem, 15rem);
  }
  .photo > *,
  .pre-photo > * {
    width: auto;
  }
}

@media (min-width: 46em) {
  .photo,
  .pre-photo {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / span 4;
    -webkit-transform: translate(9rem, 18rem);
            transform: translate(9rem, 18rem);
  }
}

@media (min-width: 64em) {
  .photo,
  .pre-photo {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
    -webkit-transform: translate(0, 18rem);
            transform: translate(0, 18rem);
  }
}

.pre-photo .cls-1 {
  fill: HSL(var(--primary-hs) 100%);
}

.st37.glass {
  overflow: hidden;
  z-index: -1;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

#wrapper:hover #wrapper__corner-box {
  width: var(--corner-flip-size-1);
  height: var(--corner-flip-size-1);
}

#wrapper__box {
  position: relative;
  z-index: 0;
}

#wrapper__corner-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--corner-flip-size-0);
  height: var(--corner-flip-size-0);
  -webkit-transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
  transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
}

#wrapper__corner-box::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 133%;
  height: 133%;
}

#wrapper #wrapper__corner-box:hover {
  width: var(--corner-flip-size-2);
  height: var(--corner-flip-size-2);
}

#wrapper.flip #wrapper__corner-box:hover {
  width: calc(var(--corner-flip-size-2) * 13);
  height: calc(var(--corner-flip-size-2) * 13);
}

#corner-link {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-top: solid 1px HSL(var(--primary-hs) 100%);
  border-left: solid 1px transparent;
  -o-border-image: linear-gradient(HSL(var(--primary-hs) 100%) 58%, transparent 50%);
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(58%, HSL(var(--primary-hs) 100%)), color-stop(50%, transparent));
     border-image: linear-gradient(HSL(var(--primary-hs) 100%) 58%, transparent 50%);
  border-image-slice: 1;
  background: -webkit-linear-gradient(-45deg, HSL(var(--primary-hs) 87%) 18%, HSL(var(--primary-hs) 87%) 22%, HSL(var(--primary-hs) 96%) 28%, HSL(var(--primary-hs) 97%) 32%, HSL(var(--primary-hs) 93%) 43%, HSL(var(--primary-hs) 78%/0) 75%);
}

#corner-link::before, #corner-link::after {
  content: '';
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  border-bottom-right-radius: 55%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 1;
}

#corner-link::before {
  bottom: -1px;
  right: 100%;
  background: -webkit-radial-gradient(625% 635%, circle, rgba(8, 36, 84, 0.12) 89%, transparent 91%);
  -webkit-box-shadow: 2.7rem 1.8rem 0.4rem -2.2rem HSL(var(--primary-hs) 91%/0.988);
          box-shadow: 2.7rem 1.8rem 0.4rem -2.2rem HSL(var(--primary-hs) 91%/0.988);
}

#corner-link::after {
  bottom: 100%;
  right: -1px;
  background: -webkit-radial-gradient(-145% -145%, circle, HSL(var(--primary-hs) 100%/0) 85%, HSL(var(--primary-hs) 0%/0.1) 93%);
  -webkit-box-shadow: 0px 13px 16px -14px HSL(var(--primary-hs) 78%/0.988);
          box-shadow: 0px 13px 16px -14px HSL(var(--primary-hs) 78%/0.988);
}

#wrapper div#wrapper__corner-box:hover #corner-link {
  border-top: solid 2px HSL(var(--primary-hs) 100%);
  border-left: solid 2px HSL(var(--primary-hs) 100%);
}

#wrapper:hover #corner-link:before {
  border-right: solid 1px HSL(var(--primary-hs) 100%);
  border-bottom: solid 1px HSL(var(--primary-hs) 100%);
}

#wrapper:hover #corner-link:after {
  border-bottom: solid 1px HSL(var(--primary-hs) 100%);
}

#wrapper div#wrapper__corner-box:hover #corner-link:before {
  border-right: solid 2px HSL(var(--primary-hs) 100%);
  border-bottom: solid 1px HSL(var(--primary-hs) 100%);
}

#wrapper div#wrapper__corner-box:hover #corner-link:after {
  border-bottom: solid 2px HSL(var(--primary-hs) 100%);
}

#corner-content {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 125%;
  height: 125%;
  overflow: hidden;
  -webkit-mask: -webkit-linear-gradient(-45deg, transparent 49%, HSL(var(--primary-hs) 0%) 53%);
}

#corner-content::before, #corner-content:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}

#corner-content::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, HSL(var(--primary-hs) 100%) 46%, transparent 48%);
}

#corner-content:after {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(-49deg, HSL(var(--primary-hs) 100%/0.2) 16%, HSL(var(--primary-hs) 87%) 20%, HSL(var(--primary-hs) 90%/0.1) 32%, HSL(var(--primary-hs) 100%/0.2) 66%), -webkit-radial-gradient(-54% -55%, circle, transparent 36%, HSL(var(--primary-hs) 0%/0.15) 75%, transparent 85%);
}

#corner-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 14rem;
  padding: 0.8rem 0.5rem;
  background-color: transparent;
}

.hello {
  grid-column: 2 / -1;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: -1;
}

@media (min-width: 35.5em) {
  .hello {
    justify-self: flex-start;
  }
}

@media (min-width: 46em) {
  .hello {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / span 2;
  }
}

.hello svg {
  width: clamp(20rem, 35vw, 48rem);
  overflow: visible;
}

@media (min-width: 20em) {
  .hello svg {
    width: clamp(30rem, 35vw, 48rem);
  }
}

.color-game {
  --gap: 1rem;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-row: 2 / -1;
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--gap, 1rem);
}

@media (min-width: 20em) {
  .color-game {
    --gap: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: var(--gap, 1rem);
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / span 5;
  }
}

@media (min-width: 35.5em) {
  .color-game {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2vw;
  }
}

.color-game > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap, 1rem);
  position: relative;
  width: 3.5rem;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-box-shadow: 0 10px 10px HSL(var(--primary-hs) 0%/0.3);
          box-shadow: 0 10px 10px HSL(var(--primary-hs) 0%/0.3);
  border-radius: 50%;
  cursor: pointer;
}

.color-game > *:nth-child(1) {
  background-image: url("../img/svg/circle1.svg");
}

.color-game > *:nth-child(2) {
  background-image: url("../img/svg/circle4.svg");
}

.color-game > *:nth-child(3) {
  background-image: url("../img/svg/circle3.svg");
}

.color-game > *:nth-child(4) {
  background-image: url("../img/svg/circle4.svg");
}

@media (min-width: 20em) {
  .color-game > * {
    width: 5rem;
  }
}

.color-game__item {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.color-game__item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap, 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8rem;
  height: 3rem;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  -webkit-filter: drop-shadow(0 10px 10px HSL(var(--primary-hs) 0%/0.2));
          filter: drop-shadow(0 10px 10px HSL(var(--primary-hs) 0%/0.2));
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.color-game__item div[data-name='P'] {
  background-image: url("../img/svg/rectangle1.svg");
}

@media (min-width: 20em) and (max-width: 35.499em) {
  .color-game__item div[data-name='P'] {
    background-image: url("../img/svg/rectangle1d.svg");
  }
}

.color-game__item div[data-name='L'] {
  background-image: url("../img/svg/rectangle2.svg");
}

@media (min-width: 20em) and (max-width: 35.499em) {
  .color-game__item div[data-name='L'] {
    background-image: url("../img/svg/rectangle2d.svg");
  }
}

.color-game__item div[data-name='A'] {
  background-image: url("../img/svg/rectangle3.svg");
}

@media (min-width: 20em) and (max-width: 35.499em) {
  .color-game__item div[data-name='A'] {
    background-image: url("../img/svg/rectangle3d.svg");
  }
}

.color-game__item div[data-name='Y'] {
  background-image: url("../img/svg/rectangle4.svg");
}

@media (min-width: 20em) and (max-width: 35.499em) {
  .color-game__item div[data-name='Y'] {
    background-image: url("../img/svg/rectangle4d.svg");
  }
}

.color-game__item div img {
  height: 100%;
}

@media (min-width: 20em) and (max-width: 35.499em) {
  .color-game__item div img {
    height: 80%;
    margin-top: -0.8rem;
  }
}

@media (min-width: 20em) and (max-width: 35.499em) {
  .color-game__item div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: calc(100% - 2rem);
    bottom: 0rem;
    left: 50%;
  }
}

@media (min-width: 20em) {
  .color-game__item div {
    height: 4rem;
  }
}

.color-game__item:hover div {
  -webkit-transform: translate(clamp(2rem, 6vw, 4rem), -50%);
          transform: translate(clamp(2rem, 6vw, 4rem), -50%);
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 20em) and (max-width: 35.499em) {
  .color-game__item:hover div {
    -webkit-transform: translate(-50%, -8rem);
            transform: translate(-50%, -8rem);
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
  z-index: 1000;
  width: 5rem;
  aspect-ratio: 1;
}

.cursor path {
  fill: #f4e600;
  stroke: #020203;
  stroke-width: 22.4366;
  stroke-miterlimit: 10;
}

.cursor__inner {
  fill: var(--cursor-fill);
  stroke: var(--cursor-stroke);
  stroke-width: var(--cursor-stroke-width);
  opacity: 0.7;
}

.page {
  padding: var(--padding-container);
}

.page.grayscale {
  mix-blend-mode: luminosity;
}

.page__bg {
  width: 100%;
  height: 100%;
  background-color: HSL(var(--primary-hs) 0%);
}

.page__bg--1 {
  position: absolute;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 40.5%, 0% 45%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 40.5%, 0% 45%);
}

.page__bg--1::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 99.6%;
  height: 99.2%;
  -webkit-clip-path: polygon(0% 0%, 99.8% 0%, 99.8% 40.5%, 0% 45%);
          clip-path: polygon(0% 0%, 99.8% 0%, 99.8% 40.5%, 0% 45%);
  background-color: var(--clr-primary);
  background-image: url("../img/svg/blue_rays-dark.svg"), url("../img/svg/blue_dots.svg"), url("../img/svg/blue_rays.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top -12rem left -12rem, left -1rem top -8rem, left 20rem top -15rem;
  background-size: 150%, 100%, 120%;
  background-attachment: fixed;
}

@media (max-width: 20em) {
  .page__bg--1::before {
    background-position: top -6rem center, top 10% center, left -5rem center;
    background-size: cover, 100%, cover;
  }
}

@media (min-width: 20em) {
  .page__bg--1::before {
    background-position: top -10rem center, top center, left -15rem top -20rem;
    background-size: 200%, 100%, 200%;
  }
}

@media (min-width: 35.5em) {
  .page__bg--1 {
    -webkit-clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
            clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
  }
  .page__bg--1::before {
    width: 99.6%;
    height: 99.6%;
    -webkit-clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
            clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
    background-position: top -12rem left -25rem, left -4rem top 2rem, left -20rem top -20rem;
    background-size: cover, 70%, cover;
  }
}

@media (min-width: 64em) {
  .page__bg--1::before {
    background-position: top -20rem left -27rem, left -2rem top 0rem, left -30rem top -25rem;
    background-size: cover, 50%, cover;
  }
}

.page__bg--2 {
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0% 46%, 100% 41.5%, 100% 83%, 0% 67.8%);
          clip-path: polygon(0% 46%, 100% 41.5%, 100% 83%, 0% 67.8%);
}

.page__bg--2::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 99.8%;
  height: 99.6%;
  -webkit-clip-path: polygon(0% 46.2%, 99.8% 41.7%, 99.8% 83%, 0% 67.8%);
          clip-path: polygon(0% 46.2%, 99.8% 41.7%, 99.8% 83%, 0% 67.8%);
  background-color: var(--clr-secondary);
  background-image: url("../img/svg/yellow_rays.svg"), url("../../img/svg/yellow_dots.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 200%, cover;
  background-position: left -15rem top 14rem;
  background-attachment: fixed;
}

@media (max-width: 20em) {
  .page__bg--2::before {
    background-position: left -1rem top 5rem;
    background-size: cover, cover;
  }
}

@media (min-width: 20em) {
  .page__bg--2::before {
    background-position: center top 5rem;
  }
}

@media (min-width: 35.5em) {
  .page__bg--2 {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 83.2%, 42% 69.6%);
            clip-path: polygon(50% 0%, 100% 0%, 100% 83.2%, 42% 69.6%);
  }
  .page__bg--2::before {
    width: 99.85%;
    height: 99.6%;
    -webkit-clip-path: polygon(50.1% 0%, 99.9% 0%, 99.9% 83.2%, 42.1% 69.6%);
            clip-path: polygon(50.1% 0%, 99.9% 0%, 99.9% 83.2%, 42.1% 69.6%);
    background-size: cover, cover;
    background-position: left 9rem top -8rem;
  }
}

@media (min-width: 46em) {
  .page__bg--2::before {
    background-position: left 20rem top -10rem;
  }
}

@media (min-width: 64em) {
  .page__bg--2::before {
    -webkit-clip-path: polygon(50.1% 0%, 100% 0%, 100% 83.2%, 42.1% 69.6%);
            clip-path: polygon(50.1% 0%, 100% 0%, 100% 83.2%, 42.1% 69.6%);
    background-position: left 25rem top -30rem;
  }
}

.page__bg--3 {
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0% 69%, 100% 84%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 69%, 100% 84%, 100% 100%, 0% 100%);
}

.page__bg--3::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 99.6%;
  height: 99.75%;
  -webkit-clip-path: polygon(0% 69.2%, 99.9% 84.2%, 99.9% 100%, 0% 100%);
          clip-path: polygon(0% 69.2%, 99.9% 84.2%, 99.9% 100%, 0% 100%);
  background-color: var(--clr-footer);
  background-image: url("../img/svg/orange_dots.svg");
  background-repeat: no-repeat;
  background-position: left -2rem bottom -5rem;
  background-size: 80%;
}

@media (min-width: 20em) {
  .page__bg--3::before {
    background-position: left -7rem bottom -6rem;
    background-size: 70%;
  }
}

@media (min-width: 35.5em) {
  .page__bg--3 {
    -webkit-clip-path: polygon(0% 61%, 100% 84%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 61%, 100% 84%, 100% 100%, 0% 100%);
  }
  .page__bg--3::before {
    width: 99.7%;
    height: 99.75%;
    -webkit-clip-path: polygon(0% 61.2%, 100% 84.2%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 61.2%, 100% 84.2%, 100% 100%, 0% 100%);
    background-position: left -10rem bottom -10rem;
    background-size: 50%;
  }
}

@media (min-width: 46em) {
  .page__bg--3::before {
    background-size: 40%;
  }
}

@media (min-width: 64em) {
  .page__bg--3::before {
    width: 99.85%;
  }
}

.content {
  --gap: 0.5rem;
  position: relative;
  -ms-grid-columns: minmax(5vw, 1fr) minmax(5rem, 1fr) (minmax(0, 45rem))[4] minmax(5rem, 1fr) minmax(2vw, 1fr);
      grid-template-columns: minmax(5vw, 1fr) minmax(5rem, 1fr) repeat(4, minmax(0, 45rem)) minmax(5rem, 1fr) minmax(2vw, 1fr);
  -ms-grid-rows: 6rem (1fr)[2];
      grid-template-rows: 6rem repeat(2, 1fr);
  height: 100%;
  z-index: 20;
  overflow: hidden;
  border-right: 1px solid;
  -o-border-image: linear-gradient(to bottom, transparent 41%, black 82.5%, transparent 0%) 5;
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(41%, transparent), color-stop(82.5%, black), color-stop(0%, transparent)) 5;
     border-image: linear-gradient(to bottom, transparent 41%, black 82.5%, transparent 0%) 5;
}

@media (min-width: 20em) {
  .content {
    -o-border-image: linear-gradient(to bottom, transparent 41%, black 85%, transparent 0%) 5;
       border-image: -webkit-gradient(linear, left top, left bottom, color-stop(41%, transparent), color-stop(85%, black), color-stop(0%, transparent)) 5;
       border-image: linear-gradient(to bottom, transparent 41%, black 85%, transparent 0%) 5;
  }
}

@media (min-width: 35.5em) {
  .content {
    -ms-grid-rows: 8rem (1fr)[4];
        grid-template-rows: 8rem repeat(4, 1fr);
    padding-block: 2rem 0;
    -o-border-image: linear-gradient(to bottom, transparent 41%, black 100%, transparent 0%) 5;
       border-image: -webkit-gradient(linear, left top, left bottom, color-stop(41%, transparent), color-stop(100%, black), color-stop(0%, transparent)) 5;
       border-image: linear-gradient(to bottom, transparent 41%, black 100%, transparent 0%) 5;
  }
}

@media (min-width: 46em) {
  .content {
    border-right: 0;
  }
}

.menu {
  --gap: 0;
  position: fixed;
  inset: var(--padding-container);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: min-content minmax(2rem, 1fr) (1fr)[6] minmax(2rem, 1fr);
      grid-template-rows: -webkit-min-content minmax(2rem, 1fr) repeat(6, 1fr) minmax(2rem, 1fr);
      grid-template-rows: min-content minmax(2rem, 1fr) repeat(6, 1fr) minmax(2rem, 1fr);
  width: calc(100vw - var(--padding-container) * 2);
  background-color: var(--clr-menu);
  overflow: hidden;
  z-index: 999;
  height: 0;
}

@media (min-width: 35.5em) {
  .menu {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: min-content min-content minmax(30rem, 1fr);
        grid-template-rows: -webkit-min-content -webkit-min-content minmax(30rem, 1fr);
        grid-template-rows: min-content min-content minmax(30rem, 1fr);
  }
}

.menu__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--gap, 1rem);
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / span 4;
  margin: 0;
}

.menu__box > svg {
  max-width: 30rem;
  margin: 0 auto;
}

@media (min-width: 35.5em) {
  .menu__box > svg {
    max-width: 80rem;
    margin: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
}

@media (min-width: 35.5em) {
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: var(--gap, 1rem);
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / span 3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

.menu__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / span 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: -1;
}

.menu__img > svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap, 1rem);
  max-width: 40rem;
  margin: 0 auto;
}

@media (min-width: 35.5em) {
  .menu__img > svg {
    max-width: 100vw;
    width: Min(140rem, 85vw);
    margin: 0;
  }
}

@media (min-width: 35.5em) {
  .menu__img {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

.menu__stars {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 2 / -1;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

@media (min-width: 35.5em) {
  .menu__stars {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / span 3;
    grid-row: 1 / -1;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
  }
}

.menu__stars > * {
  width: 6rem;
  aspect-ratio: 1;
  z-index: -1;
}

.menu__stars > *:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 7rem;
}

.menu__stars > *:nth-child(2) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
  width: 4rem;
}

@media (min-width: 35.5em) {
  .menu__stars > *:nth-child(2) {
    -ms-grid-column: 5;
    grid-column: 5;
    -ms-grid-row: 4;
    grid-row: 4;
    justify-self: flex-end;
    width: 6rem;
  }
}

.menu__stars > *:nth-child(3) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 6;
  grid-row: 6;
}

@media (min-width: 35.5em) {
  .menu__stars > *:nth-child(3) {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 6;
    grid-row: 6;
    justify-self: flex-end;
    width: Max(7rem, 11vw);
  }
}

.menu .menu__star {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav {
  --flow-space: 0.6rem;
  grid-column: 1 / -1;
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 35.5em) {
  .nav {
    --flow-space: 2rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 3;
    grid-row: 3;
    justify-self: flex-start;
    padding-left: 1rem;
  }
}

@media (min-width: 64em) {
  .nav {
    padding-left: 5vw;
  }
}

.nav__item {
  position: relative;
  width: 100%;
  padding: 0.05rem 3rem;
  -webkit-transition: -webkit-filter 0.6s ease;
  transition: -webkit-filter 0.6s ease;
  transition: filter 0.6s ease;
  transition: filter 0.6s ease, -webkit-filter 0.6s ease;
  overflow: hidden;
}

.nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  left: calc(-100% - 0.5em);
  width: 100%;
  height: 100%;
  background-color: var(--clr-secondary);
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
          clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.nav__item:hover {
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.nav__item:hover::before {
  left: 0;
}

.nav__list {
  display: inline-block;
}

.nav__link {
  text-decoration: none;
}

.top-nav {
  color: #310210;
  background-color: var(--clr-secondary);
  border: 0.5rem solid #310210;
  -webkit-box-shadow: 0px 10px 3px -6px #310210;
          box-shadow: 0px 10px 3px -6px #310210;
}

@media (min-width: 35.5em) {
  .top-nav {
    -webkit-box-shadow: 6px 6px 3px -1px #310210;
            box-shadow: 6px 6px 3px -1px #310210;
  }
}

.top-nav span {
  color: #e61c52;
  font-size: 1.5em;
  text-shadow: -0.05em 0.05em 0 black, -0.075em 0.075em 0 black, -0.1em 0.1em 0 black, -0.125em 0.125em 0 black;
}

.top-nav--about {
  position: absolute;
  top: 0rem;
  right: 0;
  padding: 0.3em 1em;
  z-index: 2;
}

@media (min-width: 35.5em) {
  .top-nav--about {
    top: -1rem;
    padding: 0.3em 2em;
  }
}

[data-scroll='true'] {
  overflow-y: auto;
}

.about-page {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  max-width: 192rem;
  min-height: 100vh;
  padding: var(--padding-container);
  background-color: HSL(var(--primary-hs) 100%);
}

.about,
.skills {
  position: relative;
  width: auto;
  min-height: 0;
  border: 1px solid HSL(var(--primary-hs) 0%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  background-color: HSL(var(--primary-hs) 0%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 7.5rem), 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 7.5rem), 0% 100%);
}

.about::before {
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 1px;
  left: 1px;
  background: #f8b6c4;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 7.5rem), 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 7.5rem), 0% 100%);
}

.about__content {
  position: relative;
  z-index: 1;
}

.skills {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-columns: minmax(0rem, 1fr) (minmax(0, 11rem))[3] minmax(0rem, 1fr);
      grid-template-columns: minmax(0rem, 1fr) repeat(3, minmax(0, 11rem)) minmax(0rem, 1fr);
  -ms-grid-rows: minmax(2rem, 1fr) (min-content)[2] minmax(2rem, 1fr);
      grid-template-rows: minmax(2rem, 1fr) repeat(2, -webkit-min-content) minmax(2rem, 1fr);
      grid-template-rows: minmax(2rem, 1fr) repeat(2, min-content) minmax(2rem, 1fr);
  place-items: center;
  background-color: HSL(var(--primary-hs) 0%);
  -webkit-clip-path: polygon(0% 7.5rem, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 7.5rem, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -7.7rem;
}

@media (min-width: 35.5em) {
  .skills {
    -ms-grid-columns: minmax(2rem, 1fr) (minmax(0, 11rem))[8] minmax(2rem, 1fr);
        grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(0, 11rem)) minmax(2rem, 1fr);
    -ms-grid-rows: minmax(2rem, 1fr) 1fr min-content 1fr;
        grid-template-rows: minmax(2rem, 1fr) 1fr -webkit-min-content 1fr;
        grid-template-rows: minmax(2rem, 1fr) 1fr min-content 1fr;
    place-items: inherit;
  }
}

.skills::before {
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 1px;
  left: 1px;
  background-image: url("../img/svg/about-bg1.svg"), url("../img/svg/about-bg2.svg"), url("../img/svg/about-bg3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #af2dff;
  opacity: 0.8;
  -webkit-clip-path: polygon(0% 7.5rem, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 7.5rem, 100% 0%, 100% 100%, 0% 100%);
}

.skills__btns {
  --gap: 0.5rem;
  position: relative;
  -ms-grid-columns: minmax(0rem, 1fr) (minmax(0, 11rem))[3] minmax(0rem, 1fr);
      grid-template-columns: minmax(0rem, 1fr) repeat(3, minmax(0, 11rem)) minmax(0rem, 1fr);
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  grid-row: 2;
  z-index: 2;
}

@media (min-width: 35.5em) {
  .skills__btns {
    --gap: 1.5rem;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / span 4;
    -ms-grid-row: 3;
    grid-row: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--gap, 1rem);
    max-width: 50rem;
  }
}

.skills-level {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.skills__btn:nth-child(1) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.skills__btn:nth-child(2) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.skills__btn:nth-child(3) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

@media (min-width: 35.5em) {
  .skills__btn:nth-child(1) {
    -webkit-transform: translate(-4rem, 0);
            transform: translate(-4rem, 0);
  }
  .skills__btn:nth-child(2) {
    width: 96.28%;
  }
  .skills__btn:nth-child(3) {
    width: 90.58%;
    -webkit-transform: translate(-3rem, -2.5rem);
            transform: translate(-3rem, -2.5rem);
  }
}

.skill {
  grid-column: 1 / -1;
  grid-row: 2/ -1;
  -ms-grid-columns: minmax(0rem, 1fr) (minmax(0, 11rem))[3] minmax(0rem, 1fr);
      grid-template-columns: minmax(0rem, 1fr) repeat(3, minmax(0, 11rem)) minmax(0rem, 1fr);
  -ms-grid-rows: 0 minmax(2rem, 1fr);
      grid-template-rows: 0 minmax(2rem, 1fr);
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 1;
}

@media (min-width: 35.5em) {
  .skill {
    grid-row: 1 / -1;
    -ms-grid-columns: minmax(2rem, 1fr) (minmax(0, 11rem))[10] minmax(2rem, 1fr);
        grid-template-columns: minmax(2rem, 1fr) repeat(10, minmax(0, 11rem)) minmax(2rem, 1fr);
    -ms-grid-rows: minmax(2rem, 1fr) (min-content)[18] minmax(2rem, 1fr);
        grid-template-rows: minmax(2rem, 1fr) repeat(18, -webkit-min-content) minmax(2rem, 1fr);
        grid-template-rows: minmax(2rem, 1fr) repeat(18, min-content) minmax(2rem, 1fr);
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

.skill-list [data-tool='JS'] {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
}

.skill-list [data-tool='HTML'] {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 6;
  grid-row: 6;
}

.skill-list [data-tool='CSS'] {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 7;
  grid-row: 7;
}

.skill-list [data-tool='SASS'] {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 8;
  grid-row: 8;
}

.skill-list [data-tool='Git'] {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 5;
  grid-row: 5;
}

.skill-list [data-tool='Gsap'] {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 6;
  grid-row: 6;
}

.skill-list [data-tool='Figma'] {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 7;
  grid-row: 7;
}

.skill-list [data-tool='React'] {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 5;
  grid-row: 5;
}

.skill-list [data-tool='Three.js'] {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 6;
  grid-row: 6;
}

.skill-list [data-tool='Svelte'] {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 7;
  grid-row: 7;
}

.skill-list [data-tool='WebGL'] {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 8;
  grid-row: 8;
}

@media (min-width: 35.5em) {
  .skill-list [data-tool='JS'] {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .skill-list [data-tool='HTML'] {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .skill-list [data-tool='CSS'] {
    -ms-grid-column: 11;
    grid-column: 11;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .skill-list [data-tool='SASS'] {
    -ms-grid-column: 9;
    grid-column: 9;
    -ms-grid-row: 4;
    grid-row: 4;
    justify-self: flex-end;
  }
  .skill-list [data-tool='Git'] {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 20;
    grid-row: 20;
  }
  .skill-list [data-tool='Gsap'] {
    -ms-grid-column: 11;
    grid-column: 11;
    -ms-grid-row: 15;
    grid-row: 15;
    justify-self: flex-end;
  }
  .skill-list [data-tool='Figma'] {
    -ms-grid-column: 10;
    grid-column: 10;
    -ms-grid-row: 20;
    grid-row: 20;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .skill-list [data-tool='React'] {
    -ms-grid-column: 9;
    grid-column: 9;
    -ms-grid-row: 20;
    grid-row: 20;
  }
  .skill-list [data-tool='Three.js'] {
    -ms-grid-column: 8;
    grid-column: 8;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .skill-list [data-tool='Svelte'] {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .skill-list [data-tool='WebGL'] {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 19;
    grid-row: 19;
  }
}

.point {
  --gap: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap, 1rem);
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.point__star {
  width: 2.5rem;
  aspect-ratio: 1;
  -webkit-animation: rotateItSelf 15s infinite linear;
          animation: rotateItSelf 15s infinite linear;
  animation-direction: reverse;
}

@media (min-width: 35.5em) {
  .point__star {
    width: 4rem;
  }
}

[aria-hidden='false'] .point .point__star {
  -webkit-animation: rotateItSelf 15s infinite linear;
          animation: rotateItSelf 15s infinite linear;
}

[aria-hidden='false'] .point .point__star .starSkill {
  -webkit-filter: invert(0) brightness(10);
          filter: invert(0) brightness(10);
  -webkit-transform: scale(2);
          transform: scale(2);
}

[aria-hidden='false'] .point span {
  visibility: visible;
  opacity: 1;
}

[aria-hidden='true'] .point .point__star {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: rotateItSelf 15s infinite linear;
          animation: rotateItSelf 15s infinite linear;
}

[aria-hidden='true'] .point .point__star .starSkill {
  -webkit-filter: invert(1) brightness(10);
          filter: invert(1) brightness(10);
  -webkit-transform: scale(1);
          transform: scale(1);
}

[aria-hidden='true'] .point span {
  visibility: hidden;
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */