/*
@media (min-width:320px) {  smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:480px) {  smartphones, Android phones, landscape iPhone  }
@media (min-width:600px) {  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:801px) {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) {  big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) {  hi-res laptops and desktops  }
*/
:root {
  --clr-primary: hsl(202, 65%, 51%);
  --clr-secondary: hsl(54, 100%, 50%);
  --clr-footer: hsl(23, 100%, 50%);
  --clr-white: 0 0% 100%;
  --clr-black: hsl(0, 0%, 0%);
  --primary-hs: 0 0%;
  --clr-btn-1: hsl(205, 85%, 40%);
  --clr-btn-2: hsl(40, 5%, 12%);
  --clr-btn-3: hsl(344, 85%, 53%);
  --clr-btn-4: hsl(52, 61%, 90%);
  --fs-900: 9rem;
  --fs-560: 5.6rem;
  --fs-480: 4.8rem;
  --fs-360: 3.6rem;
  --fs-240: 2.4rem;
  --fs-180: 1.8rem;
  --fs-160: 1.6rem;
  --fs-140: 1.4rem;
  --fs-120: 1.2rem;
  --ff: 'Comic Neue', cursive;
  --padding-container: 0.6rem;
}

.clr-white {
  color: HSL(var(--clr-white));
}

html {
  font-size: 62.5%;
}

body {
  border: 0.02rem solid HSL(var(--primary-hs) 0%);
  font-family: var(--ff);
  font-weight: 700;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--padding-container) * 2);
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin, padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-560 {
  font-size: var(--fs-560);
}

.fs-480 {
  font-size: var(--fs-480);
}

.fs-360 {
  font-size: var(--fs-360);
}

.fs-240 {
  font-size: var(--fs-240);
}

.fs-180 {
  font-size: var(--fs-180);
}

.fs-160 {
  font-size: var(--fs-160);
}

.fs-140 {
  font-size: var(--fs-140);
}

.fs-120 {
  font-size: var(--fs-120);
}

.btn {
  position: relative;
  width: 3rem;
  aspect-ratio: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  border: 0;
}

@media (min-width: 35.5em) {
  .btn {
    width: 5rem;
  }
}

.btn__box {
  position: relative;
  -ms-grid-columns: minmax(2rem, 1fr) minmax(0, 70rem) minmax(0, 70rem) minmax(2rem, 1fr);
      grid-template-columns: minmax(2rem, 1fr) minmax(0, 70rem) minmax(0, 70rem) minmax(2rem, 1fr);
  -ms-grid-rows: minmax(5rem, 1fr) min-content;
      grid-template-rows: minmax(5rem, 1fr) -webkit-min-content;
      grid-template-rows: minmax(5rem, 1fr) min-content;
  padding-block: 2rem;
  z-index: 20;
}

@media (min-width: 35.5em) {
  .btn__box {
    -ms-grid-rows: minmax(8rem, 1fr) min-content;
        grid-template-rows: minmax(8rem, 1fr) -webkit-min-content;
        grid-template-rows: minmax(8rem, 1fr) min-content;
  }
}

.btn-small svg {
  width: 3.35rem;
}

@media (min-width: 35.5em) {
  .btn-small svg {
    width: 5.6rem;
  }
}

.btn[aria-selected='false'] {
  display: none;
}

.btn[aria-selected='true'] {
  -ms-grid-column: 2;
  grid-column: 2;
  display: block;
}

.btn__text {
  --gap: 1.4rem;
  position: absolute;
  inset: 0;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  line-height: 1;
  -webkit-transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
          transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  opacity: 0;
  -webkit-animation: back 1s forwards;
          animation: back 1s forwards;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.btn__text div:nth-child(1) {
  -webkit-transform: rotate(-40deg) translate3d(-1rem, -1rem, 0);
          transform: rotate(-40deg) translate3d(-1rem, -1rem, 0);
}

.btn__text div:nth-child(2) {
  -webkit-transform: rotate(-10deg) translate3d(-2rem, -2rem, 0);
          transform: rotate(-10deg) translate3d(-2rem, -2rem, 0);
}

.btn__text div:nth-child(3) {
  -webkit-transform: rotate(-10deg) translate3d(-3rem, -3rem, 0);
          transform: rotate(-10deg) translate3d(-3rem, -3rem, 0);
}

.btn__text div:nth-child(4) {
  -webkit-transform: rotate(-10deg) translate3d(-4rem, -4rem, 0);
          transform: rotate(-10deg) translate3d(-4rem, -4rem, 0);
}

.btn__text div:nth-child(5) {
  -webkit-transform: rotate(-10deg) translate3d(-4.5rem, -4rem, 0);
          transform: rotate(-10deg) translate3d(-4.5rem, -4rem, 0);
}

.btn:hover .btn__text {
  -webkit-animation: up 1s forwards;
          animation: up 1s forwards;
}

.btn .cls-1 {
  fill: var(--clr-btn-1);
}

.btn .cls-2 {
  fill: var(--clr-btn-2);
}

.btn .cls-3 {
  fill: var(--clr-btn-3);
}

.btn .cls-4 {
  fill: #f7f022;
}

.btn .cls-5 {
  fill: var(--clr-btn-4);
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
            transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-50deg) translate3d(0rem, 0rem, 0);
            transform: rotate(-50deg) translate3d(0rem, 0rem, 0);
    opacity: 1;
  }
}

@keyframes up {
  0% {
    -webkit-transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
            transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-50deg) translate3d(0rem, 0rem, 0);
            transform: rotate(-50deg) translate3d(0rem, 0rem, 0);
    opacity: 1;
  }
}

@-webkit-keyframes back {
  0% {
    -webkit-transform: rotate(-50deg) translate3d(0rem, 0rem, 0);
            transform: rotate(-50deg) translate3d(0rem, 0rem, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
            transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
    opacity: 0;
  }
}

@keyframes back {
  0% {
    -webkit-transform: rotate(-50deg) translate3d(0rem, 0rem, 0);
            transform: rotate(-50deg) translate3d(0rem, 0rem, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
            transform: rotate(-50deg) translate3d(2rem, 2rem, 0);
    opacity: 0;
  }
}

.page {
  padding: var(--padding-container);
}

.page__bg {
  width: 100%;
  height: 100%;
  background-color: HSL(var(--primary-hs) 0%);
}

.page__bg--1 {
  position: absolute;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 40.5%, 0% 45%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 40.5%, 0% 45%);
}

.page__bg--1::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 99.6%;
  height: 99.2%;
  -webkit-clip-path: polygon(0% 0%, 99.8% 0%, 99.8% 40.5%, 0% 45%);
          clip-path: polygon(0% 0%, 99.8% 0%, 99.8% 40.5%, 0% 45%);
  background-color: var(--clr-primary);
  background-image: url("../img/svg/blue_rays-dark.svg"), url("../img/svg/blue_dots.svg"), url("../img/svg/blue_rays.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top -12rem left -12rem, left -1rem top -8rem, left 20rem top -15rem;
  background-size: 150%, 100%, 120%;
  background-attachment: fixed;
}

@media (max-width: 20em) {
  .page__bg--1::before {
    background-position: top -10rem left -5rem, top 10% center, left -5rem top -10rem;
    background-size: cover, contain, cover;
  }
}

@media (min-width: 20em) {
  .page__bg--1::before {
    background-position: top -10rem center, top center, left -15rem top -20rem;
    background-size: 190%, 100%, cover;
  }
}

@media (min-width: 35.5em) {
  .page__bg--1 {
    -webkit-clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
            clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
  }
  .page__bg--1::before {
    width: 99.6%;
    height: 99.6%;
    -webkit-clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
            clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
    background-position: top -12rem left -25rem, left -4rem top 2rem, left -20rem top -20rem;
    background-size: cover, 70%, cover;
  }
}

@media (min-width: 64em) {
  .page__bg--1::before {
    background-position: top -20rem left -27rem, left -2rem top 0rem, left -30rem top -25rem;
    background-size: cover, 50%, cover;
  }
}

.page__bg--2 {
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0% 46%, 100% 41.5%, 100% 83%, 0% 67.8%);
          clip-path: polygon(0% 46%, 100% 41.5%, 100% 83%, 0% 67.8%);
}

.page__bg--2::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 99.6%;
  height: 99.6%;
  -webkit-clip-path: polygon(0% 46.2%, 99.8% 41.7%, 99.8% 83%, 0% 67.8%);
          clip-path: polygon(0% 46.2%, 99.8% 41.7%, 99.8% 83%, 0% 67.8%);
  background-color: var(--clr-secondary);
  background-image: url("../img/svg/yellow_rays.svg"), url("../../img/svg/yellow_dots.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 200%, cover;
  background-position: left -15rem top 14rem;
  background-attachment: fixed;
}

@media (max-width: 20em) {
  .page__bg--2::before {
    background-position: left -2rem top 5rem;
    background-size: cover, cover;
  }
}

@media (min-width: 20em) {
  .page__bg--2::before {
    background-position: center top 15rem;
  }
}

@media (min-width: 35.5em) {
  .page__bg--2 {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 83.2%, 42% 69.6%);
            clip-path: polygon(50% 0%, 100% 0%, 100% 83.2%, 42% 69.6%);
  }
  .page__bg--2::before {
    width: 99.85%;
    height: 99.6%;
    -webkit-clip-path: polygon(50.1% 0%, 99.9% 0%, 99.9% 83.2%, 42.1% 69.6%);
            clip-path: polygon(50.1% 0%, 99.9% 0%, 99.9% 83.2%, 42.1% 69.6%);
    background-size: cover, cover;
    background-position: left 9rem top -8rem;
  }
}

@media (min-width: 46em) {
  .page__bg--2::before {
    background-position: left 20rem top -10rem;
  }
}

@media (min-width: 64em) {
  .page__bg--2::before {
    -webkit-clip-path: polygon(50.1% 0%, 100% 0%, 100% 83.2%, 42.1% 69.6%);
            clip-path: polygon(50.1% 0%, 100% 0%, 100% 83.2%, 42.1% 69.6%);
    background-position: left 25rem top -30rem;
  }
}

.page__bg--3 {
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0% 69%, 100% 84%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 69%, 100% 84%, 100% 100%, 0% 100%);
}

.page__bg--3::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 99.6%;
  height: 99.75%;
  -webkit-clip-path: polygon(0% 69.2%, 99.9% 84.2%, 99.9% 100%, 0% 100%);
          clip-path: polygon(0% 69.2%, 99.9% 84.2%, 99.9% 100%, 0% 100%);
  background-color: var(--clr-footer);
  background-image: url("../img/svg/orange_dots.svg");
  background-repeat: no-repeat;
  background-position: left -2rem bottom -5rem;
  background-size: 80%;
}

@media (min-width: 20em) {
  .page__bg--3::before {
    background-position: left -7rem bottom -6rem;
    background-size: 70%;
  }
}

@media (min-width: 35.5em) {
  .page__bg--3 {
    -webkit-clip-path: polygon(0% 61%, 100% 84%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 61%, 100% 84%, 100% 100%, 0% 100%);
  }
  .page__bg--3::before {
    width: 99.7%;
    height: 99.75%;
    -webkit-clip-path: polygon(0% 61.2%, 100% 84.2%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 61.2%, 100% 84.2%, 100% 100%, 0% 100%);
    background-position: left -10rem bottom -10rem;
    background-size: 50%;
  }
}

@media (min-width: 46em) {
  .page__bg--3::before {
    background-size: 40%;
  }
}

@media (min-width: 64em) {
  .page__bg--3::before {
    width: 99.85%;
  }
}

.wrapper {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  max-width: 144rem;
}

.item {
  display: inline-block;
  width: auto;
  min-height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.item--1 {
  background-color: var(--clr-primary);
  background-image: url("../img/svg/blue_rays-dark.svg"), url("../img/svg/blue_dots.svg"), url("../img/svg/blue_rays.svg");
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 39;
  grid-row: 1 / 40;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5rem), 0% calc(100% - 10rem));
          clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5rem), 0% calc(100% - 10rem));
}

.item--2 {
  background-color: var(--clr-secondary);
  background-image: url("../img/svg/yellow_rays.svg"), url("../../img/svg/yellow_dots.svg");
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 39;
  grid-row: 1 / 40;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 4.9rem));
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 4.9rem));
}

.item--3 {
  background-color: var(--clr-footer);
  background-image: url("../img/svg/orange_dots.svg");
  -webkit-clip-path: polygon(0% 0%, 100% calc(100% - 49rem), 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% calc(100% - 49rem), 100% 100%, 0% 100%);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 40;
  -ms-grid-row-span: 50;
  grid-row: 40 / 90;
  margin-top: -10rem;
}
/*# sourceMappingURL=main.css.map */