/*
@media (min-width:320px) {  smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:480px) {  smartphones, Android phones, landscape iPhone  }
@media (min-width:600px) {  portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:801px) {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) {  big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) {  hi-res laptops and desktops  }
*/
:root {
  --clr-primary: hsl(202, 65%, 51%);
  --clr-secondary: hsl(54, 100%, 50%);
  --clr-footer: hsl(23, 100%, 50%);
  --clr-white: 0 0% 100%;
  --clr-black: hsl(0, 0%, 0%);
  --primary-hs: 0 0%;
  --clr-btn-1: hsl(205, 85%, 40%);
  --clr-btn-2: hsl(40, 5%, 12%);
  --clr-btn-3: hsl(344, 85%, 53%);
  --clr-btn-4: hsl(52, 61%, 90%);
  --clr-logo-1: hsl(274, 53%, 37%);
  --fs-900: 9rem;
  --fs-560: 5.6rem;
  --fs-480: 4.8rem;
  --fs-360: 3.6rem;
  --fs-240: 2.4rem;
  --fs-180: 1.8rem;
  --fs-160: 1.6rem;
  --fs-140: 1.4rem;
  --fs-120: 1.2rem;
  --ff: 'Comic Neue', cursive;
  --ff-doodle: 'Lemon', cursive;
  --padding-container: 0.6rem;
  --padding-corner: 2rem;
  --corner-flip-size-1: 5rem;
  --corner-flip-size-2: 10rem;
}

html {
  font-size: 62.5%;
}

body {
  border: 0.02rem solid HSL(var(--primary-hs) 0%);
  font-family: var(--ff);
  font-weight: 700;
  overflow: hidden;
  background-color: #fff;
  z-index: -1;
}

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--padding-container) * 2);
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
  overflow: hidden;
}

.clr-white {
  color: HSL(var(--clr-white));
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin, padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-560 {
  font-size: var(--fs-560);
}

.fs-480 {
  font-size: var(--fs-480);
}

.fs-360 {
  font-size: var(--fs-360);
}

.fs-240 {
  font-size: var(--fs-240);
}

.fs-180 {
  font-size: var(--fs-180);
}

.fs-160 {
  font-size: var(--fs-160);
}

.fs-140 {
  font-size: var(--fs-140);
}

.fs-120 {
  font-size: var(--fs-120);
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 0.6rem;
}

.doodle__text {
  font-family: var(--ff-doodle);
}

.btn {
  position: relative;
  width: 3rem;
  aspect-ratio: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  border: 0;
  z-index: 20;
  color: #ffffff79;
}

@media (min-width: 35.5em) {
  .btn {
    width: 5rem;
  }
}

.btn-small {
  width: 3.35rem;
  height: auto;
}

@media (min-width: 35.5em) {
  .btn-small {
    width: 5.6rem;
  }
}

.btn[aria-selected='false'] {
  display: none;
}

.btn[aria-selected='true'] {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.btn__text {
  position: absolute;
  top: 0;
  left: -3rem;
  fill: #f5f1d6;
  stroke: HSL(var(--primary-hs) 0%);
  stroke-width: 1px;
}

.btn__text svg {
  width: 4rem;
  overflow: visible;
}

.btn__text .text-cls-1 {
  fill: #f5f1d6;
  opacity: 0;
}

.btn .cls-1 {
  fill: var(--clr-btn-1);
}

.btn .cls-2 {
  fill: var(--clr-btn-2);
}

.btn .cls-3 {
  fill: var(--clr-btn-3);
}

.btn .cls-4 {
  fill: #f7f022;
}

.btn .cls-5 {
  fill: var(--clr-btn-4);
}

.logo {
  width: 2.5rem;
  -ms-grid-column: 7;
  grid-column: 7;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 20;
}

@media (min-width: 35.5em) {
  .logo {
    width: 5rem;
  }
}

.logo svg {
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.logo svg .cls-1 {
  fill: var(--clr-logo-1);
}

.logo svg .cls-2 {
  fill: HSL(var(--primary-hs) 100%);
}

.logo:hover svg {
  fill: var(--clr-btn-1);
}

.doodle {
  position: absolute;
  width: 40vw;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out, -webkit-transform 0s;
  transition: opacity 2s ease-in-out, -webkit-transform 0s;
  transition: transform 0s, opacity 2s ease-in-out;
  transition: transform 0s, opacity 2s ease-in-out, -webkit-transform 0s;
}

.doodle-cls-1 {
  stroke-miterlimit: 10;
}

.doodle-cls-2 {
  stroke-width: 0.4rem;
}

.doodle-cls-3 {
  fill: HSL(var(--primary-hs) 90%);
}

.doodle-cls-1, .doodle-cls-2 {
  fill: HSL(var(--primary-hs) 100%);
}

.doodle-cls-1, .doodle-cls-3 {
  stroke-width: 0.3rem;
}

.doodle-cls-2, .doodle-cls-3 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.doodle-cls-1, .doodle-cls-2, .doodle-cls-3 {
  stroke: HSL(var(--primary-hs) 0%);
}

@media (max-width: 20em) {
  .doodle {
    width: 0;
  }
}

.photo,
.pre-photo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / span 4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-transform: translate(3rem, 5rem);
          transform: translate(3rem, 5rem);
}

.photo > *,
.pre-photo > * {
  min-width: 40rem;
}

@media (max-width: 20em) {
  .photo > *,
  .pre-photo > * {
    min-width: auto;
  }
}

@media (min-width: 20em) {
  .photo,
  .pre-photo {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3 / span 6;
    -webkit-transform: translate(5rem, 9rem);
            transform: translate(5rem, 9rem);
  }
  .photo > *,
  .pre-photo > * {
    min-width: 40rem;
  }
}

@media (min-width: 35.5em) {
  .photo,
  .pre-photo {
    -webkit-transform: translate(12rem, 15rem);
            transform: translate(12rem, 15rem);
  }
  .photo > *,
  .pre-photo > * {
    width: auto;
  }
}

@media (min-width: 46em) {
  .photo,
  .pre-photo {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / span 4;
    -webkit-transform: translate(0, 15rem);
            transform: translate(0, 15rem);
  }
}

@media (min-width: 64em) {
  .photo,
  .pre-photo {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / span 4;
  }
}

.photo {
  z-index: 2;
}

.pre-photo {
  z-index: 0;
}

.pre-photo .cls-1 {
  fill: HSL(var(--primary-hs) 100%);
}

.st37.glass {
  overflow: hidden;
  z-index: -1;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.page:hover .corner-link::before {
  border-right: 1px solid #fff;
}

.page:hover .corner-link::after {
  border-bottom: 2px solid #fff;
}

.page div.corner-box:hover .corner-link::before {
  border-right: 2px solid #fff;
}

.page:hover .corner-box {
  width: var(--corner-flip-size-1);
  height: var(--corner-flip-size-1);
}

.page div.corner-box:hover {
  width: var(--corner-flip-size-2);
  height: var(--corner-flip-size-2);
}

.corner-box {
  position: absolute;
  bottom: -9px;
  right: -5px;
  width: var(--padding-corner);
  height: var(--padding-corner);
  overflow: visible;
  color: #fff;
  border: 3px solid red;
}

.corner-box::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 133%;
  height: 133%;
}

.corner-link {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ddd 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eee 39%, rgba(200, 200, 200, 0) 41%);
}

.corner-link::before,
.corner-link::after {
  content: '';
  position: absolute;
  width: 79%;
  height: 79%;
  display: block;
  background-color: #fff;
  z-index: 2;
  border-bottom-right-radius: 60%;
}

.corner-link::before {
  right: 100%;
  bottom: 0%;
  background: radial-gradient(-180% 200%, circle, rgba(255, 255, 255, 0) 85%, rgba(0, 0, 0, 0.1) 93%);
}

.corner-link::after {
  bottom: 100%;
  right: 0%;
  background: radial-gradient(-250% 320%, circle, rgba(255, 255, 255, 0) 85%, rgba(0, 0, 0, 0.1) 93%);
}

.corner-content {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 125%;
  height: 125%;
  z-index: 50;
  -webkit-mask: -webkit-linear-gradient(135deg, transparent 49%, #000 53%);
  overflow: hidden;
}

.corner-content::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 133%;
  height: 133%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 40%, #ddd 57%, rgba(230, 230, 230, 0.1) 111%, rgba(255, 255, 255, 0) 104%), -webkit-radial-gradient(222% 225%, circle, transparent 74%, rgba(0, 0, 0, 0.2) 74%, transparent 81%);
}

.corner-content::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eeeef4;
}

.corner-btn {
  position: absolute;
  width: 4em;
  bottom: 0;
  right: 0;
  background-color: #900;
  color: #fff;
  text-align: center;
  padding: 1em;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
}

.corner-box,
.corner-content,
.corner-link {
  -webkit-transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
  transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
}

:root {
  --match-clr: #9b9bf8;
  --accent-clr: rgb(255, 255, 255);
  --test-clr: rgb(247, 160, 239);
}

#wrapper {
  background-color: var(--match-clr);
  /* some background color to match corner inside's */
  width: 100%;
  /* trivial */
  height: 100vh;
  font: 12pt arial, sans-serif, helvetica, verdana;
  /* trivial */
  color: #666;
  place-items: center;
}

#wrapper__box {
  width: 800px;
  /*any relative or absolute*/
  aspect-ratio: 1;
  position: relative;
  background-color: var(--accent-clr);
}

#wrapper__box:hover #wrapper__corner-box {
  width: 50px;
  height: 50px;
}

#wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--gap, 1rem);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding: 20px;
}

#wrapper__content > * + * {
  margin-top: 2rem;
}

#wrapper__content h1 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#wrapper__corner-box {
  /* edit these sizes for the default revealing corner size */
  height: 20px;
  width: 20px;
  right: 0;
  top: 0;
  position: absolute;
  overflow: visible;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
  transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
}

#wrapper #wrapper__corner-box:hover {
  width: 100px;
  height: 100px;
}

#wrapper__content:before {
  content: '';
  width: 80px;
  height: 80px;
}

#wrapper__content:after {
  content: '';
  width: 80px;
  height: 80px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-left: auto;
}

#wrapper__corner-box:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: block;
  width: 133%;
  height: 133%;
}

#wrapper__corner-box-2:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  display: block;
  width: 133%;
  height: 133%;
}

#corner-link {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background: -webkit-linear-gradient(45deg, #ddd 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eee 39%, rgba(200, 200, 200, 0) 41%);
  display: block;
  width: 100%;
  height: 100%;
}

#corner-link::before, #corner-link::after {
  position: absolute;
  display: block;
  border-top-right-radius: 60%;
  width: 50%;
  height: 50%;
  content: '';
  background-color: coral;
}

#corner-link::before {
  top: 0;
  right: 100%;
  background: -webkit-radial-gradient(-180% 200%, circle, rgba(255, 255, 255, 0) 85%, rgba(0, 0, 0, 0.1) 93%);
}

#corner-link::after {
  top: 100%;
  right: 0;
  background: -webkit-radial-gradient(-250% 320%, circle, rgba(255, 255, 255, 0) 85%, rgba(0, 0, 0, 0.1) 93%);
}

#corner-link-2 {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background: -webkit-linear-gradient(-45deg, #ddd 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eee 39%, rgba(200, 200, 200, 0) 41%);
  display: block;
  width: 100%;
  height: 100%;
}

#corner-link-2::before, #corner-link-2::after {
  position: absolute;
  display: block;
  border-bottom-right-radius: 60%;
  width: 50%;
  height: 50%;
  content: '';
  background-color: coral;
}

#corner-link-2::before {
  bottom: 0;
  right: 100%;
  background: -webkit-radial-gradient(-160% -200%, circle, rgba(255, 255, 255, 0) 85%, rgba(0, 0, 0, 0.1) 93%);
}

#corner-link-2::after {
  bottom: 100%;
  right: 0;
  background: -webkit-radial-gradient(-145% -145%, circle, rgba(255, 255, 255, 0) 85%, rgba(0, 0, 0, 0.1) 93%);
}

#wrapper__box:hover #corner-link:before {
  border-right: solid 1px var(--accent-clr);
}

#wrapper__box:hover #corner-link:after {
  border-top: solid 1px var(--accent-clr);
}

#wrapper__box:hover #corner-link-2:before {
  border-right: solid 1px var(--accent-clr);
}

#wrapper__box:hover #corner-link-2:before {
  border-bottom: solid 1px var(--accent-clr);
}

#wrapper__box div#wrapper__corner-box:hover #corner-link:before {
  border-right: solid 2px var(--accent-clr);
}

#wrapper__box div#wrapper__corner-box:hover #corner-link:after {
  border-top: solid 2px var(--accent-clr);
}

#wrapper__box div#wrapper__corner-box-2:hover #corner-link-2:before {
  border-right: solid 2px var(--accent-clr);
}

#wrapper__box div#wrapper__corner-box-2:hover #corner-link-2:after {
  border-bottom: solid 2px var(--accent-clr);
}

#corner-content {
  width: 125%;
  height: 125%;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: hidden;
  -webkit-mask: -webkit-linear-gradient(45deg, transparent 49%, #000 53%);
}

#corner-content::before, #corner-content:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

#corner-content::before {
  width: 100%;
  height: 100%;
  background-color: var(--match-clr);
  /* Match this background color to #wrapper */
}

#corner-content:after {
  background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 37%, #ddd 62%, rgba(230, 230, 230, 0.1) 64%, rgba(255, 255, 255, 0) 67%), -webkit-radial-gradient(-50% 150%, circle, transparent 74%, rgba(0, 0, 0, 0.2) 74%, transparent 81%);
  width: 133%;
  height: 133%;
}

#corner-content-2 {
  width: 125%;
  height: 125%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  overflow: hidden;
  -webkit-mask: -webkit-linear-gradient(-45deg, transparent 49%, #000 53%);
}

#corner-content-2::before, #corner-content-2:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

#corner-content-2::before {
  width: 100%;
  height: 100%;
  background-color: var(--match-clr);
  /* Match this background color to #wrapper */
}

#corner-content-2:after {
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 37%, #ddd 62%, rgba(230, 230, 230, 0.1) 64%, rgba(255, 255, 255, 0) 67%), -webkit-radial-gradient(-50% -50%, circle, transparent 74%, rgba(0, 0, 0, 0.2) 74%, transparent 81%);
  width: 133%;
  height: 133%;
}

#corner-button {
  position: absolute;
  width: 7em;
  top: 0;
  right: 0;
  background-color: #900;
  color: var(--accent-clr);
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  padding: 8px 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 11px;
}

#corner-button strong {
  font-size: 13px;
  font-weight: bold;
  display: block;
}

#corner-button-2 {
  position: absolute;
  width: 7em;
  bottom: 0;
  right: 0;
  background-color: #900;
  color: var(--accent-clr);
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  padding: 8px 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 11px;
}

#corner-button-2 strong {
  font-size: 13px;
  font-weight: bold;
  display: block;
}

#wrapper__corner-box-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
  transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
}

#wrapper__box:hover #wrapper__corner-box-2 {
  width: 50px;
  height: 50px;
}

#wrapper #wrapper__corner-box-2:hover {
  width: 100px;
  height: 100px;
}

.page {
  padding: var(--padding-container);
}

.page__bg {
  width: 100%;
  height: 100%;
  background-color: HSL(var(--primary-hs) 0%);
}

.page__bg--1 {
  position: absolute;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 40.5%, 0% 45%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 40.5%, 0% 45%);
}

.page__bg--1::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 99.6%;
  height: 99.2%;
  -webkit-clip-path: polygon(0% 0%, 99.8% 0%, 99.8% 40.5%, 0% 45%);
          clip-path: polygon(0% 0%, 99.8% 0%, 99.8% 40.5%, 0% 45%);
  background-color: var(--clr-primary);
  background-image: url("../img/svg/blue_rays-dark.svg"), url("../img/svg/blue_dots.svg"), url("../img/svg/blue_rays.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top -12rem left -12rem, left -1rem top -8rem, left 20rem top -15rem;
  background-size: 150%, 100%, 120%;
  background-attachment: fixed;
}

@media (max-width: 20em) {
  .page__bg--1::before {
    background-position: top -6rem center, top 10% center, left -5rem center;
    background-size: cover, 100%, cover;
  }
}

@media (min-width: 20em) {
  .page__bg--1::before {
    background-position: top -10rem center, top center, left -15rem top -20rem;
    background-size: 200%, 100%, 200%;
  }
}

@media (min-width: 35.5em) {
  .page__bg--1 {
    -webkit-clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
            clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
  }
  .page__bg--1::before {
    width: 99.6%;
    height: 99.6%;
    -webkit-clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
            clip-path: polygon(0% 0%, 49.5% 0%, 41.5% 69.4%, 0% 60%);
    background-position: top -12rem left -25rem, left -4rem top 2rem, left -20rem top -20rem;
    background-size: cover, 70%, cover;
  }
}

@media (min-width: 64em) {
  .page__bg--1::before {
    background-position: top -20rem left -27rem, left -2rem top 0rem, left -30rem top -25rem;
    background-size: cover, 50%, cover;
  }
}

.page__bg--2 {
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0% 46%, 100% 41.5%, 100% 83%, 0% 67.8%);
          clip-path: polygon(0% 46%, 100% 41.5%, 100% 83%, 0% 67.8%);
}

.page__bg--2::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 99.8%;
  height: 99.6%;
  -webkit-clip-path: polygon(0% 46.2%, 99.8% 41.7%, 99.8% 83%, 0% 67.8%);
          clip-path: polygon(0% 46.2%, 99.8% 41.7%, 99.8% 83%, 0% 67.8%);
  background-color: var(--clr-secondary);
  background-image: url("../img/svg/yellow_rays.svg"), url("../../img/svg/yellow_dots.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 200%, cover;
  background-position: left -15rem top 14rem;
  background-attachment: fixed;
}

@media (max-width: 20em) {
  .page__bg--2::before {
    background-position: left -1rem top 5rem;
    background-size: cover, cover;
  }
}

@media (min-width: 20em) {
  .page__bg--2::before {
    background-position: center top 5rem;
  }
}

@media (min-width: 35.5em) {
  .page__bg--2 {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 83.2%, 42% 69.6%);
            clip-path: polygon(50% 0%, 100% 0%, 100% 83.2%, 42% 69.6%);
  }
  .page__bg--2::before {
    width: 99.85%;
    height: 99.6%;
    -webkit-clip-path: polygon(50.1% 0%, 99.9% 0%, 99.9% 83.2%, 42.1% 69.6%);
            clip-path: polygon(50.1% 0%, 99.9% 0%, 99.9% 83.2%, 42.1% 69.6%);
    background-size: cover, cover;
    background-position: left 9rem top -8rem;
  }
}

@media (min-width: 46em) {
  .page__bg--2::before {
    background-position: left 20rem top -10rem;
  }
}

@media (min-width: 64em) {
  .page__bg--2::before {
    -webkit-clip-path: polygon(50.1% 0%, 100% 0%, 100% 83.2%, 42.1% 69.6%);
            clip-path: polygon(50.1% 0%, 100% 0%, 100% 83.2%, 42.1% 69.6%);
    background-position: left 25rem top -30rem;
  }
}

.page__bg--3 {
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(0% 69%, 100% 84%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 69%, 100% 84%, 100% 100%, 0% 100%);
}

.page__bg--3::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 99.6%;
  height: 99.75%;
  -webkit-clip-path: polygon(0% 69.2%, 99.9% 84.2%, 99.9% 100%, 0% 100%);
          clip-path: polygon(0% 69.2%, 99.9% 84.2%, 99.9% 100%, 0% 100%);
  background-color: var(--clr-footer);
  background-image: url("../img/svg/orange_dots.svg");
  background-repeat: no-repeat;
  background-position: left -2rem bottom -5rem;
  background-size: 80%;
}

@media (min-width: 20em) {
  .page__bg--3::before {
    background-position: left -7rem bottom -6rem;
    background-size: 70%;
  }
}

@media (min-width: 35.5em) {
  .page__bg--3 {
    -webkit-clip-path: polygon(0% 61%, 100% 84%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 61%, 100% 84%, 100% 100%, 0% 100%);
  }
  .page__bg--3::before {
    width: 99.7%;
    height: 99.75%;
    -webkit-clip-path: polygon(0% 61.2%, 100% 84.2%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 61.2%, 100% 84.2%, 100% 100%, 0% 100%);
    background-position: left -10rem bottom -10rem;
    background-size: 50%;
  }
}

@media (min-width: 46em) {
  .page__bg--3::before {
    background-size: 40%;
  }
}

@media (min-width: 64em) {
  .page__bg--3::before {
    width: 99.85%;
  }
}

.content {
  --gap: 0.5rem;
  position: relative;
  -ms-grid-columns: minmax(4vw, 1fr) minmax(5rem, 1fr) (minmax(0, 45rem))[4] minmax(5rem, 1fr) minmax(2vw, 1fr);
      grid-template-columns: minmax(4vw, 1fr) minmax(5rem, 1fr) repeat(4, minmax(0, 45rem)) minmax(5rem, 1fr) minmax(2vw, 1fr);
  -ms-grid-rows: 5rem 1fr;
      grid-template-rows: 5rem 1fr;
  height: 100%;
  z-index: 20;
  overflow: hidden;
  border-right: 1px solid;
  -o-border-image: linear-gradient(to bottom, transparent 41%, black 82.5%, transparent 0%) 5;
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(41%, transparent), color-stop(82.5%, black), color-stop(0%, transparent)) 5;
     border-image: linear-gradient(to bottom, transparent 41%, black 82.5%, transparent 0%) 5;
}

@media (min-width: 20em) {
  .content {
    -o-border-image: linear-gradient(to bottom, transparent 41%, black 85%, transparent 0%) 5;
       border-image: -webkit-gradient(linear, left top, left bottom, color-stop(41%, transparent), color-stop(85%, black), color-stop(0%, transparent)) 5;
       border-image: linear-gradient(to bottom, transparent 41%, black 85%, transparent 0%) 5;
  }
}

@media (min-width: 35.5em) {
  .content {
    -ms-grid-rows: 8rem (1fr)[4];
        grid-template-rows: 8rem repeat(4, 1fr);
    padding-block: 2rem 0;
    -o-border-image: linear-gradient(to bottom, transparent 41%, black 100%, transparent 0%) 5;
       border-image: -webkit-gradient(linear, left top, left bottom, color-stop(41%, transparent), color-stop(100%, black), color-stop(0%, transparent)) 5;
       border-image: linear-gradient(to bottom, transparent 41%, black 100%, transparent 0%) 5;
  }
}

@media (min-width: 46em) {
  .content {
    border-right: 0;
  }
}
/*# sourceMappingURL=main.css.map */