[data-scroll="true"] {
  overflow-y: auto;

  @include respond-to("1024->") {
    overflow: hidden;
  }
}

.about-page {
  position: relative;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 49vh 49vh;
  //   grid-auto-rows: 1fr;

  // max-width: 192rem;
  height: 100vh;
  // min-height: 100vh;

  padding: var(--padding-container);
  background-color: HSL(var(--primary-hs) 100%);
  //   border: 5px solid green;
  // @include respond-to("1024->") {
  //   height: 100vh;
  //   // min-height: 0;
  // }
}

.about {
  position: relative;

  // width: auto;
  // min-height: 0;
  height: 100%;

  border: 2px solid HSL(var(--primary-hs) 0%);

  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // grid-column: 1 / span 2;
  // grid-row: 1 / 20;
  //   min-height: 60vh;
  // background-color: HSL(var(--primary-hs) 0%);
  overflow: hidden;
  // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  background: #f8edc5;
  background-image: url("../../img/about-bg.png"),
    url("../../img/svg/about-rays.svg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: bottom 0 right, top 0 center;

  @include respond-to("568->") {
    background-size: 106%, cover;
    // background-position: top 80vh right, top -10vw center;
  }

  @include respond-to("736->") {
    background-size: 100%, cover;
    // background-position: top 77vh right, top -10vw center;
  }

  @include respond-to("1024->") {
    background-size: 100%, 150%;
    background-position: bottom -7vw right, top -1vw center;
    // background-position: top 67vh right, top -10vw center;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   // top: 1px;
  //   // left: 1px;
  //   // background: #f8edc5;
  //   // background-image: url("../../img/about-bg.png"),
  //   //   url("../../img/svg/about-rays.svg");
  //   // background-repeat: no-repeat;
  //   // background-size: 100%, cover;
  //   // background-position: bottom 0 right, top 0 center;

  //   // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  //   // @include respond-to("320->") {
  //   //   background-size: 105%, cover;
  //   //   //   background-position: top 70vh right, top -10vw center;
  //   // }

  //   // @include respond-to("568->") {
  //   //   background-size: 106%, cover;
  //   //   // background-position: top 80vh right, top -10vw center;
  //   // }

  //   // @include respond-to("736->") {
  //   //   background-size: 100%, cover;
  //   //   // background-position: top 77vh right, top -10vw center;
  //   // }

  //   // @include respond-to("1024->") {
  //   //   background-size: 100%, 150%;
  //   //   background-position: bottom -7vw right, top -1vw center;
  //   //   // background-position: top 67vh right, top -10vw center;
  //   // }
  // }

  &__content {
    position: relative;
    height: 100%;
    z-index: 1;
  }
}

.story {
  --gap: 0;
  grid-template-columns: minmax(2rem, 1fr) repeat(10, minmax(0, 10rem)) minmax(
      2rem,
      1fr
    );
  grid-template-rows: minmax(0, 1rem) repeat(4, 1fr);
  height: 100%;
  // place-self: end;

  @include respond-to("568->") {
    // grid-template-areas:
    //   ". . . . . ."
    //   ". about-doodle-1 about-photo about-photo about-photo about-photo"
    //   ". about-doodle-2 about-photo about-photo about-photo about-photo"
    //   ". about-doodle-3 about-photo about-photo about-photo about-photo";
    grid-template-rows: minmax(2rem, 1fr) repeat(17, 1fr);
  }

  // @include respond-to("736->") {
  //   // grid-template-rows: minmax(0, 4rem) repeat(3, min-content) 1fr 7vh;
  // }

  @include respond-to("1024->") {
    // grid-template-rows: minmax(0, 4rem) repeat(3, min-content) 1fr 2vh;
    grid-template-columns: minmax(2rem, 1fr) repeat(9, minmax(0, 10rem)) minmax(
        2rem,
        1fr
      );
    grid-template-rows: minmax(2rem, 1fr) repeat(8, 1fr) minmax(2rem, 1fr);
  }

  &__box {
    position: relative;

    grid-column: 2 / -2;
    grid-row: 2 / span 2;

    display: flex;
    gap: 20rem;

    // overflow: hidden;

    @include respond-to("568->") {
      position: relative;
      grid-column: 2 / 9;
      grid-row: 16 / span 3;
      align-self: end;
      // margin-bottom: 0.5rem;
      flex-direction: column;
      justify-content: space-between;
      gap: 0;
      // display: block;
      // display: grid;
      // grid-template-columns: minmax(2rem, 1fr) repeat(10, minmax(0, 10rem)) minmax(
      //     2rem,
      //     1fr
      //   );
      // grid-template-rows: minmax(0, 2rem) repeat(4, 1fr);
      overflow: visible;
      // background: #2e3cf56e;

      @include respond-to("1024->") {
        // display: grid;
        grid-row: 2 / -1;
        grid-column: 1 / 9;

        // grid-template-columns: minmax(2rem, 1fr) repeat(9, minmax(0, 10rem)) minmax(
        //     2rem,
        //     1fr
        //   );
        // grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        // grid-template-rows: minmax(2rem, 1fr) repeat(8, 1fr) minmax(2rem, 1fr);
        // justify-content: normal;
        // align-self: auto;
        // margin-bottom: 0;
      }

      @include respond-to("1366->") {
        grid-row: 2 / -1;
      }
    }

    & > svg {
      width: 100%;
      // max-width: 65rem;
      height: max-content;

      flex: 1 0 100%;
      align-self: center;
      margin-inline: auto;
      // outline: 2px solid blue;
      // min-width: 50rem;
      // grid-area: about-doodle-1;
      text {
        // text-align: center;
        text-anchor: middle;
        font-size: 2.5rem;
        font-family: var(--ff);
      }

      @include respond-to("568->") {
        // position: absolute;
        height: auto;
        width: Min(112%, 55rem);
        // flex: 1 0 30%;
      }

      @include respond-to("1024->") {
        align-self: auto;
        // width: 100%;
        height: auto;
        // width: 80%;
        // min-width: 53.3rem;
        // width: 65%;
        // min-width: 53rem;
        width: Min(100%, 53rem);
      }

      @include respond-to("1366->") {
        // width: 57%;
        // min-width: 62rem;
        width: Min(100%, 62rem);
      }

      @include respond-to("1920->") {
        width: 61%;
        // min-width: 50rem;
      }
    }
  }

  &__photo {
    & img {
      width: 100%;
      height: 100%;
      // outline: 2px solid green;
      // object-fit: cover;
    }

    &--person {
      grid-column: 2 / -2;
      grid-row: 4 / span 2;
      // grid-area: about-photo;

      //   width: Min(30rem, 75vw);

      height: fit-content;
      // margin-bottom: 0.5rem;
      align-self: flex-end;
      z-index: 4;
      // outline: 2px solid green;
      // transform: translate(0, -3%);

      // & img {
      //   // transform: translateY(-3rem);
      // }

      @include respond-to("320->") {
        // grid-row: 3 / span 5;
      }

      @include respond-to("568->") {
        grid-row: 15 / span 2;
        // grid-row: 4;
        // grid-column: 4 / span 8;
        grid-column: 6 / span 6;
        z-index: 1;
        transform: translate(11rem, 0rem);
      }

      @include respond-to("1024->") {
        grid-column: 7 / span 6;
        grid-row: 7 / span 3;
        margin-bottom: 0;

        // align-self: flex-end;
        transform: translate(0, 0);
      }
    }

    &--doodle1 {
      grid-row: 2;
      grid-column: 2 / -2;
      // height: 15rem;

      z-index: 4;

      @include respond-to("568->") {
        grid-column: 3 / span 6;
        align-self: end;
        transform: translate(8rem, 7rem);
      }

      @include respond-to("1024->") {
        grid-column: 1 / span 8;
        grid-row: 1;
        // transform: translate(0, 1vw);
        transform: translate(13rem, 8rem);
      }

      @include respond-to("1366->") {
        transform: translate(13rem, 18rem);
      }
    }

    &--doodle2 {
      grid-column: 2 / -2;
      grid-row: 3;
      z-index: 3;
      // transform: translate(0, -1.5rem);

      // height: 15rem;
      @include respond-to("568->") {
        grid-column: 2 / span 6;
        align-self: end;
        transform: translate(-2rem, 5rem);
      }

      @include respond-to("1024->") {
        grid-column: 1 / span 8;
        grid-row: 4;
        transform: translate(0rem, 6rem);
      }

      @include respond-to("1366->") {
        transform: translate(0rem, 13rem);
      }

      // @include respond-to("1920->") {
      //   transform: translate(0rem, 13rem);
      // }
    }

    &--doodle3 {
      grid-column: 2 / -2;
      grid-row: 4;
      z-index: 2;
      // transform: translate(0, -5.5rem);
      // height: 15rem;

      @include respond-to("568->") {
        grid-column: 1 / span 7;
        // transform: translate(-5rem, -8.5rem);
      }

      @include respond-to("1024->") {
        grid-column: 1 / span 8;
        grid-row: 6;
        transform: translate(9rem, 0rem);
      }

      @include respond-to("1366->") {
        transform: translate(10rem, 4rem);
      }

      @include respond-to("1920->") {
        transform: translate(8rem, 3rem);
      }
    }
  }

  &__content {
    grid-column: 2 / 8;
    grid-row: 1 / 4;

    // min-width: 45rem;

    font-family: var(--ff);
    // outline: 4px solid red;

    &-box {
      position: relative;
      width: 100%;
      height: 100%;

      & div > p {
        text-indent: 2rem;
        width: 85%;
        margin: 0 auto;
        line-height: 1.2;
      }

      //   &::before {
      //     content: "";
      //     width: 50%;
      //     height: 100%;
      //     shape-outside: polygon(
      //       0 0,
      //       98% 0,
      //       50% 6%,
      //       23.4% 17.3%,
      //       6% 32.6%,
      //       0 50%,
      //       6% 65.6%,
      //       23.4% 82.7%,
      //       50% 94%,
      //       98% 100%,
      //       0 100%
      //     );
      //     // shape-margin: 7%;
      //     float: left;
      //   }

      & div {
        width: 100%;
        height: 100%;
        background: radial-gradient(
          ellipse at center,
          rgb(255, 255, 255) 0%,
          rgb(253, 253, 253) 70%,
          rgba(255, 255, 255, 0) 70.3%
        );
      }

      //   & div:before {
      //     content: "";
      //     width: 50%;
      //     height: 100%;
      //     float: right;
      //     shape-outside: polygon(
      //       2% 0%,
      //       100% 0%,
      //       100% 100%,
      //       2% 100%,
      //       50% 94%,
      //       76.6% 82.7%,
      //       94% 65.6%,
      //       100% 50%,
      //       94% 32.6%,
      //       76.6% 17.3%,
      //       50% 6%
      //     );
      //     // shape-margin: 7%;
      //   }
    }
  }

  &__dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;
    justify-content: space-between;

    z-index: 5;

    @include respond-to("568->") {
      display: none;
    }

    button {
      @include flex(null, center, center);

      width: 4rem;
      aspect-ratio: 1;

      background-color: transparent;
      background-image: url("../img/svg/circle4.svg");
      background-repeat: no-repeat;

      border: none;
    }
  }
}

.skills {
  position: relative;
  grid-column: 1 / span 2;
  // grid-row: 20 / 30;
  grid-template-columns: minmax(0rem, 1fr) repeat(3, minmax(0, 11rem)) minmax(
      0rem,
      1fr
    );
  // grid-template-rows: 7rem min-content repeat(4, min-content) minmax(2rem, 1fr);
  grid-template-rows: minmax(2rem, 1fr) repeat(2, min-content) minmax(2rem, 1fr);
  place-items: center;
  // grid-auto-rows: minmax(min-content, 1fr);

  background-color: HSL(var(--primary-hs) 0%);

  clip-path: polygon(0% var(--about-section-gap), 100% 0%, 100% 100%, 0% 100%);
  margin-top: calc(var(--about-section-gap) * -1 - 0.2rem);

  @include respond-to("568->") {
    grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(0, 11rem)) minmax(
        2rem,
        1fr
      );
    // grid-template-rows: repeat(8, 1fr);
    // grid-template-rows: min-content 1fr;
    // grid-template-rows: 1fr repeat(4, min-content) 1fr;
    grid-template-rows: minmax(2rem, 1fr) 1fr min-content 1fr;
    // place-items: inherit;
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    background-image: url("../img/svg/about-bg1.svg"),
      url("../img/svg/about-bg2.svg"), url("../img/svg/about-bg3.svg");
    background-repeat: no-repeat;
    background-position: center;
    // background-size: cover, cover, cover;
    background-color: #af2dff;
    opacity: 0.8;

    clip-path: polygon(
      0% var(--about-section-gap),
      100% 0%,
      100% 100%,
      0% 100%
    );
  }

  &__btns {
    --gap: 0.5rem;
    position: relative;
    grid-template-columns: minmax(0rem, 1fr) repeat(3, minmax(0, 14rem)) minmax(
        0rem,
        1fr
      );

    grid-column: 1 / -1;
    grid-row: 2;

    z-index: 2;
    // column-gap: 1rem;

    @include respond-to("568->") {
      --gap: 1.5rem;
      grid-column: 4 / span 4;
      grid-row: 3;

      @include flex(column, center, center);
      max-width: 40rem;
      // height: Max(24rem, 26vw);

      // border: 2px solid red;
    }
  }

  &-level {
    grid-column: 1 / -1;
    grid-row: 1/ -1;
  }

  &__btn {
    &:nth-child(1) {
      grid-column: 2;
      grid-row: 2;
    }

    &:nth-child(2) {
      grid-column: 3;
      grid-row: 2;
    }

    &:nth-child(3) {
      grid-column: 4;
      grid-row: 2;
    }

    @include respond-to("568->") {
      &:nth-child(1) {
        transform: translate(-4rem, 0);
      }

      &:nth-child(2) {
        width: 96.28%;
      }

      &:nth-child(3) {
        width: 90.58%;
        transform: translate(-3rem, -2.5rem);
      }
    }
  }
}

.skill {
  grid-column: 1 / -1;
  grid-row: 2/ -1;

  grid-template-columns: minmax(0rem, 1fr) repeat(3, minmax(0, 14rem)) minmax(
      0rem,
      1fr
    );
  grid-template-rows: 0 minmax(2rem, 1fr);
  align-self: flex-start;

  z-index: 1;

  @include respond-to("568->") {
    grid-row: 1 / -1;
    grid-template-columns: minmax(2rem, 1fr) repeat(10, minmax(0, 11rem)) minmax(
        2rem,
        1fr
      );
    // grid-auto-rows: minmax(min-content, 1fr);
    grid-template-rows: minmax(2rem, 1fr) repeat(18, min-content) minmax(
        2rem,
        1fr
      );
    // grid-template-rows: repeat(8, 1fr);
    align-self: auto;
  }
}

.skill-list {
  [data-tool="JS"] {
    grid-column: 2;
    grid-row: 5;
  }

  [data-tool="HTML"] {
    grid-column: 2;
    grid-row: 6;
  }

  [data-tool="CSS"] {
    grid-column: 2;
    grid-row: 7;
  }

  [data-tool="SASS"] {
    grid-column: 2;
    grid-row: 8;
  }

  [data-tool="Git"] {
    grid-column: 3;
    grid-row: 5;
  }

  [data-tool="Gsap"] {
    grid-column: 3;
    grid-row: 6;
  }

  [data-tool="Figma"] {
    grid-column: 3;
    grid-row: 7;
  }

  // [data-tool='Empty'] {
  //   grid-column: 5 / span 3;
  //   grid-row: 2;
  // }

  [data-tool="React"] {
    grid-column: 4;
    grid-row: 5;
  }

  [data-tool="Three.js"] {
    grid-column: 4;
    grid-row: 6;
  }

  [data-tool="Svelte"] {
    grid-column: 4;
    grid-row: 7;
  }

  [data-tool="WebGL"] {
    grid-column: 4;
    grid-row: 8;
  }

  @include respond-to("568->") {
    // align-self: flex-start;
    // grid-column: 1 / -1;
    // grid-row: 1/ -1;

    [data-tool="JS"] {
      grid-column: 3;
      grid-row: 5;
    }

    [data-tool="HTML"] {
      grid-column: 4;
      grid-row: 1;
      align-self: flex-end;
    }

    [data-tool="CSS"] {
      grid-column: 11;
      grid-row: 2;
    }

    [data-tool="SASS"] {
      grid-column: 9;
      grid-row: 4;
      justify-self: flex-end;
    }

    [data-tool="Git"] {
      grid-column: 4;
      grid-row: 20;
    }

    [data-tool="Gsap"] {
      grid-column: 11;
      grid-row: 15;
      justify-self: flex-end;
    }

    [data-tool="Figma"] {
      grid-column: 10;
      grid-row: 20;
      align-self: flex-start;
    }

    // [data-tool='Empty'] {
    //   grid-column: 11;
    //   grid-row: 5;
    // }

    [data-tool="React"] {
      grid-column: 9;
      grid-row: 20;
    }

    [data-tool="Three.js"] {
      grid-column: 8;
      grid-row: 1;
    }

    [data-tool="Svelte"] {
      grid-column: 2;
      grid-row: 2;
      justify-content: flex-end;
    }

    [data-tool="WebGL"] {
      grid-column: 2;
      grid-row: 19;
    }
  }
}

.point {
  --gap: 0.4rem;
  @include flex(null, flex-start, center);
  align-self: center;
  flex-wrap: wrap;

  font-family: var(--ff);
  letter-spacing: 0.1rem;

  @include respond-to("568->") {
    // justify-content: center;
    // flex-wrap: wrap;
  }

  &__star {
    width: 2.5rem;
    aspect-ratio: 1;

    animation: rotateItSelf 25s infinite linear;
    // animation-direction: reverse;

    @include respond-to("568->") {
      width: 4rem;
    }
  }
}

[aria-hidden="false"] {
  z-index: 2;
  // visibility: visible;
  // opacity: 1;

  & .point {
    .point__star {
      // transform: scale(2);
      // transform: rotate(0deg) scale(1);
      animation: rotateItSelf 50s infinite linear;

      // animation-delay: -2050ms;

      // animation-direction: reverse;

      .starSkill {
        filter: invert(0) brightness(10);
        transform: scale(2);

        // transform-origin: 50% 50%;
      }
    }

    span {
      visibility: visible;
      opacity: 1;
      transform-origin: 0 50%;

      // transition: all 0.4s linear;
    }
  }

  // transition: all 0.4s linear;
}

[aria-hidden="true"] {
  & .point {
    .point__star {
      // transform: scale(1);
      // width: 2.5rem;
      // transform: rotate(0deg) scale(1);
      animation: rotateItSelf 50s infinite linear;

      // animation-delay: -2050ms;

      animation-direction: reverse;

      .starSkill {
        filter: invert(1) brightness(10);
        transform: scale(1);

        // transform-origin: 50% 50%;
      }
    }

    span {
      visibility: hidden;
      opacity: 0;
      transform-origin: 0 50%;
      // transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}

// .home-page-leave {
//   opacity: 1;
// }

// .home-page-leave-active {
//   transition: opacity 0.75s linear;
// }

// .home-page-leave-to {
//   opacity: 0;
// }

// .home-page-enter {
//   clip-path: circle(0%);
// }

// .home-page-active {
//   transition: opacity 0.75s linear;
//   position: absolute;
//   top: 0;
//   z-index: 9999999;
// }

// .home-page-enter-to {
//   clip-path: circle(75%);
// }

// .home-page-once {
//   opacity: 0;
// }

// .home-page-once-active {
//   transition: opacity 3s linear;
// }

// .home-page-once-to {
//   opacity: 1;
// }

// .loader {
//   position: fixed;
//   width: 100vw;
//   height: 200vh;
//   pointer-events: none;
//   background-color: #fff6ed;
//   z-index: 1;
//   visibility: hidden;
//   opacity: 0;
// }

// .is-transitioning {
//   pointer-events: none;
//   cursor: progress;
// }
.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #4bedc2;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}
