[data-scroll="true"] {
  overflow-y: auto;

  @include respond-to("1024->") {
    overflow: hidden;
  }
}

.about-page {
  position: relative;

  height: 100vh;
  

  padding: var(--padding-container);
  background-color: HSL(var(--primary-hs) 100%);
}

.about {
  position: relative;

  
  height: 100%;

  border: 2px solid HSL(var(--primary-hs) 0%);

  overflow: hidden;

  background: var(--clr-bg);
  background-image: url("../img/about-bg.png"), url("../img/svg/about-rays.svg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: bottom 0px left 65%;

  @include respond-to("568->") {
    background-size: 112%, cover;
    background-position: bottom, center;
  }

  @include respond-to("736->") {
    background-size: 100%, cover;
  }

  @include respond-to("1024->") {
    background-size: 100%, 150%;
    background-position: bottom -6.9vw right, top -1vw center;
  }

  @include respond-to("1366->") {
    background-position: bottom -9vw right, top -1vw center;
  }

  &__content {
    position: relative;
    // display: -webkit-box;

    height: 100%;
    z-index: 1;

    overflow: hidden;
  }
}

.story {
  --gap: 0;
  grid-template-columns: minmax(2rem, 1fr) repeat(10, minmax(0, 10rem)) minmax(
      2rem,
      1fr
    );
  grid-template-rows: minmax(0, 1rem) repeat(4, 1fr);
  height: 100%;
  // place-self: end;
  transition: transform 1s cubic-bezier(0.93, 0.02, 0.56, 0.95);

  @include respond-to("568->") {
    
    grid-template-rows: minmax(2rem, 1fr) repeat(17, 1fr);
  }

 

  @include respond-to("1024->") {
    
    grid-template-columns: minmax(2rem, 1fr) repeat(9, minmax(0, 10rem)) minmax(
        2rem,
        1fr
      );
    grid-template-rows: minmax(2rem, 1fr) repeat(8, 1fr) minmax(2rem, 1fr);
  }

  &__box {
    position: relative;

    grid-column: 2 / -2;
    grid-row: 2 / span 2;

    display: flex;
    gap: 20rem;

   

    @include respond-to("568->") {
      position: relative;
      grid-column: 2 / 9;
      grid-row: 11 / span 3;
      align-self: end;
      // margin-bottom: 0.5rem;
      flex-direction: column;
      justify-content: center;
      gap: 0;
      
      overflow: visible;
      

      @include respond-to("1024->") {
        
        grid-row: 6 / span 3;
        grid-column: 1 / 8;

        
      }

      @include respond-to("1366->") {
        grid-row: 5 / span 3;
      }
    }

    & > svg {
      width: 100%;
      
      height: max-content;

      flex: 1 0 100%;
      align-self: center;
      margin-inline: auto;
      
      text {
        
        text-anchor: start;
        font-size: 2.2rem;
        font-family: var(--ff);
      }

      @include respond-to("568->") {
        
        height: auto;
        width: Min(112%, 55rem);

        
      }

      @include respond-to("1024->") {
        width: Min(100%, 64rem);
        height: auto;
        align-self: auto;
      }

      @include respond-to("1366->") {
       
        width: Min(100%, 80rem);
      }

     
    }
  }

  &__photo {
    & img {
      width: 100%;
      height: 100%;
      
    }

    &--person {
      grid-column: 2 / -2;
      grid-row: 4 / span 2;
      

      height: fit-content;
      
      align-self: flex-end;
      z-index: 4;
      

      

      @include respond-to("568->") {
        grid-row: 15 / span 2;
        
        grid-column: 6 / span 6;
        z-index: 1;
        transform: translate(11rem, 0.9rem);
      }

      @include respond-to("1024->") {
        grid-column: 7 / span 6;
        grid-row: 7 / span 3;
        margin-bottom: 0;

        transform: translate(0, 0);
      }
    }

    &--doodle1 {
      grid-row: 2;
      grid-column: 2 / -2;
      

      z-index: 4;

      @include respond-to("568->") {
        grid-column: 3 / span 6;
        align-self: end;
        transform: translate(8rem, 7rem);
      }

      @include respond-to("1024->") {
        grid-column: 1 / span 8;
        grid-row: 1;
        
        transform: translate(13rem, 8rem);
      }

      @include respond-to("1366->") {
        transform: translate(13rem, 18rem);
      }
    }

    &--doodle2 {
      grid-column: 2 / -2;
      grid-row: 3;
      z-index: 3;
      
      @include respond-to("568->") {
        grid-column: 2 / span 6;
        align-self: end;
        transform: translate(-2rem, 5rem);
      }

      @include respond-to("1024->") {
        grid-column: 1 / span 8;
        grid-row: 4;
        transform: translate(0rem, 6rem);
      }

      @include respond-to("1366->") {
        transform: translate(0rem, 16rem);
      }

      
    }

    
  }

  &__content {
    grid-column: 2 / 8;
    grid-row: 1 / 4;

    

    font-family: var(--ff);
   

    &-box {
      position: relative;
      width: 100%;
      height: 100%;

      & div > p {
        text-indent: 2rem;
        width: 85%;
        margin: 0 auto;
        line-height: 1.2;
      }

      & div {
        width: 100%;
        height: 100%;
        background: radial-gradient(
          ellipse at center,
          rgb(255, 255, 255) 0%,
          rgb(253, 253, 253) 70%,
          rgba(255, 255, 255, 0) 70.3%
        );
      }
    }
  }

  &__dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);

    width: 100%;
    justify-content: space-between;

    z-index: 5;

    @include respond-to("568->") {
      display: none;
    }

    
  }

 

  &--2 {
    position: absolute;
    inset: 0;
    opacity: 0;
   
    & button {
      opacity: 0;
      visibility: hidden;
      
    }

    @include flex(column, null, null);

    width: 100%;
    height: 100%;
    background-color: var(--clr-footer);
    
    z-index: 5;

    overflow: hidden;

    &__bg1 {
      height: 50%;
      background-image: url("../img/svg/yellow_rays.svg");
      background-repeat: no-repeat;
      background-size: 400%;
      background-position: center;
      background-color: var(--clr-primary);

      @include respond-to("568->") {
        background-size: 130%;
      }
    }

    &__bg2 {
      height: 50%;
    }

    &__door {
      display: flex;
      width: 100%;
      height: 100%;

      overflow: hidden;

      @include respond-to("568->") {
        display: block;
      }

      & svg {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: auto 0 0 auto;
        transform: translateY(3.4vh);
        overflow: visible;

        & .cls-1 {
          fill: #88b5c0;
        }

        & .cls-2 {
          fill: #4e5778;
        }

        & .cls-3 {
          fill: #1d1d1b;
        }

        & .cls-4 {
          fill: #f9e69a;
        }

        & .cls-5 {
          fill: #ee7950;
        }

        & .cls-6 {
          fill: HSL(var(--primary-hs) 100%);
        }

        

        @include respond-to("568->") {
          width: auto;
          height: 100%;
          margin-left: auto;
          
        }
      }
    }

    &__face {
      
      position: fixed;
      width: 100%;
      height: 100%;

      &-img {
        @include flex(column, flex-end, flex-end);
        width: 100%;
        height: 100%;

        background-image: url("../img/svg/dots_orange.svg");
        background-repeat: no-repeat;
        
        background-position: bottom -6rem left -4rem;

        @include respond-to("568->") {
          @include flex(row, space-between, flex-end);
          background-position: bottom -20rem right 19rem;
        }

        @include respond-to("1024->") {
          @include flex(null, null, center);
          background-position: bottom -17rem left -16rem;
        }

        & img {
          

          width: 80vw;
          order: 1;

          transform: translate(-34vw, Max(20%, 11vh));
          

          @media (max-width: 20em) {
            transform: translate(-34vw, clamp(1rem, 28vw, 12rem));
          }

          @include respond-to("568->") {
            order: 0;
            transform: translate(-17vw, Max(20%, 11vh));
          }

          @include respond-to("1024->") {
            width: Min(56vw, 100vw);

            transform: translate(0, 0);
          }
        }

        & svg {
          height: 100%;
          transform: translate(-19vw, 9vh);
          overflow: visible;

          & .cls-1 {
            fill: HSL(var(--primary-hs) 100%);
          }

          & .cls-2 {
            fill: #1d1d1b;
          }
        }

        .face-doodle-desktop {
          display: none;
          height: auto;

          & text {
            text-anchor: start;
            font-size: 1rem;
            font-family: var(--ff);
          }

          @include respond-to("568->") {
            display: block;
          }

          @media (min-width: 35.5em) and (max-width: 64em) {
            min-width: clamp(34rem, 60vw, 60rem);
            
            transform: translate(-45vw, -5vh);
          }

          @include respond-to("1024->") {
            min-width: 50vw;
          }
        }

        .face-doodle-mobile {
          display: block;
          width: 95%;
          height: auto;
          transform: translate(0, Max(120%, 30vh)) scale(-1, 1); //48
          min-height: 30rem;

          z-index: 2;

          & text {
            text-anchor: start;
            font-size: 0.9rem;
            font-family: var(--ff);
            transform: scale(-1, 1);
          }

          @media (max-width: 20em) {
            transform: translate(0, Max(20%, 20vh)) scale(-1, 1); //24
          }

          @include respond-to("568->") {
            display: none;
          }
        }
      }
    }

    &__doodle {
      @include flex(null, null, center);
      width: 100%;
      height: 100%;
    }
  }
}


.dots-box {
  @include abs-center;
  top: 95%;
  transform: translate(-50%, -95%);
  align-items: center;
  z-index: 10;
}
