[data-scroll="true"] {
  overflow-y: auto;

  @include respond-to("1024->") {
    overflow: hidden;
  }
}

.about-page {
  position: relative;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 49vh 49vh;
  //   grid-auto-rows: 1fr;

  // max-width: 192rem;
  height: 100vh;
  // min-height: 100vh;

  padding: var(--padding-container);
  background-color: HSL(var(--primary-hs) 100%);
  //   border: 5px solid green;
  // @include respond-to("1024->") {
  //   height: 100vh;
  //   // min-height: 0;
  // }
}

.about {
  position: relative;

  // width: auto;
  // min-height: 0;
  height: 100%;

  border: 2px solid HSL(var(--primary-hs) 0%);

  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // grid-column: 1 / span 2;
  // grid-row: 1 / 20;
  //   min-height: 60vh;
  // background-color: HSL(var(--primary-hs) 0%);
  overflow: hidden;
  // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  background: #f8edc5;
  background-image: url("../../img/about-bg.png"),
    url("../../img/svg/about-rays.svg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: bottom 0 right, top 0 center;

  @include respond-to("568->") {
    background-size: 106%, cover;
    // background-position: top 80vh right, top -10vw center;
  }

  @include respond-to("736->") {
    background-size: 100%, cover;
    // background-position: top 77vh right, top -10vw center;
  }

  @include respond-to("1024->") {
    background-size: 100%, 150%;
    background-position: bottom -7vw right, top -1vw center;
    // background-position: top 67vh right, top -10vw center;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   // top: 1px;
  //   // left: 1px;
  //   // background: #f8edc5;
  //   // background-image: url("../../img/about-bg.png"),
  //   //   url("../../img/svg/about-rays.svg");
  //   // background-repeat: no-repeat;
  //   // background-size: 100%, cover;
  //   // background-position: bottom 0 right, top 0 center;

  //   // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  //   // @include respond-to("320->") {
  //   //   background-size: 105%, cover;
  //   //   //   background-position: top 70vh right, top -10vw center;
  //   // }

  //   // @include respond-to("568->") {
  //   //   background-size: 106%, cover;
  //   //   // background-position: top 80vh right, top -10vw center;
  //   // }

  //   // @include respond-to("736->") {
  //   //   background-size: 100%, cover;
  //   //   // background-position: top 77vh right, top -10vw center;
  //   // }

  //   // @include respond-to("1024->") {
  //   //   background-size: 100%, 150%;
  //   //   background-position: bottom -7vw right, top -1vw center;
  //   //   // background-position: top 67vh right, top -10vw center;
  //   // }
  // }

  &__content {
    position: relative;
    height: 100%;
    z-index: 1;
  }
}

.story {
  --gap: 0;
  grid-template-columns: minmax(2rem, 1fr) repeat(10, minmax(0, 10rem)) minmax(
      2rem,
      1fr
    );
  grid-template-rows: minmax(0, 1rem) repeat(4, 1fr);
  height: 100%;
  // place-self: end;

  @include respond-to("568->") {
    // grid-template-areas:
    //   ". . . . . ."
    //   ". about-doodle-1 about-photo about-photo about-photo about-photo"
    //   ". about-doodle-2 about-photo about-photo about-photo about-photo"
    //   ". about-doodle-3 about-photo about-photo about-photo about-photo";
    grid-template-rows: minmax(2rem, 1fr) repeat(17, 1fr);
  }

  // @include respond-to("736->") {
  //   // grid-template-rows: minmax(0, 4rem) repeat(3, min-content) 1fr 7vh;
  // }

  @include respond-to("1024->") {
    // grid-template-rows: minmax(0, 4rem) repeat(3, min-content) 1fr 2vh;
    grid-template-columns: minmax(2rem, 1fr) repeat(9, minmax(0, 10rem)) minmax(
        2rem,
        1fr
      );
    grid-template-rows: minmax(2rem, 1fr) repeat(8, 1fr) minmax(2rem, 1fr);
  }

  &__box {
    position: relative;

    grid-column: 2 / -2;
    grid-row: 2 / span 2;

    display: flex;
    gap: 20rem;

    // overflow: hidden;

    @include respond-to("568->") {
      position: relative;
      grid-column: 2 / 9;
      grid-row: 16 / span 3;
      align-self: end;
      // margin-bottom: 0.5rem;
      flex-direction: column;
      justify-content: space-between;
      gap: 0;
      // display: block;
      // display: grid;
      // grid-template-columns: minmax(2rem, 1fr) repeat(10, minmax(0, 10rem)) minmax(
      //     2rem,
      //     1fr
      //   );
      // grid-template-rows: minmax(0, 2rem) repeat(4, 1fr);
      overflow: visible;
      // background: #2e3cf56e;

      @include respond-to("1024->") {
        // display: grid;
        grid-row: 2 / -1;
        grid-column: 1 / 9;

        // grid-template-columns: minmax(2rem, 1fr) repeat(9, minmax(0, 10rem)) minmax(
        //     2rem,
        //     1fr
        //   );
        // grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        // grid-template-rows: minmax(2rem, 1fr) repeat(8, 1fr) minmax(2rem, 1fr);
        // justify-content: normal;
        // align-self: auto;
        // margin-bottom: 0;
      }

      @include respond-to("1366->") {
        grid-row: 2 / -1;
      }
    }

    & > svg {
      width: 100%;
      // max-width: 65rem;
      height: max-content;

      flex: 1 0 100%;
      align-self: center;
      margin-inline: auto;
      // outline: 2px solid blue;
      // min-width: 50rem;
      // grid-area: about-doodle-1;
      text {
        // text-align: center;
        text-anchor: middle;
        font-size: 2.5rem;
        font-family: var(--ff);
      }

      @include respond-to("568->") {
        // position: absolute;
        height: auto;
        width: Min(112%, 55rem);
        // flex: 1 0 30%;
      }

      @include respond-to("1024->") {
        align-self: auto;
        // width: 100%;
        height: auto;
        // width: 80%;
        // min-width: 53.3rem;
        // width: 65%;
        // min-width: 53rem;
        width: Min(100%, 53rem);
      }

      @include respond-to("1366->") {
        // width: 57%;
        // min-width: 62rem;
        width: Min(100%, 62rem);
      }

      @include respond-to("1920->") {
        width: 61%;
        // min-width: 50rem;
      }
    }
  }

  &__photo {
    & img {
      width: 100%;
      height: 100%;
      // outline: 2px solid green;
      // object-fit: cover;
    }

    &--person {
      grid-column: 2 / -2;
      grid-row: 4 / span 2;
      // grid-area: about-photo;

      //   width: Min(30rem, 75vw);

      height: fit-content;
      // margin-bottom: 0.5rem;
      align-self: flex-end;
      z-index: 4;
      // outline: 2px solid green;
      // transform: translate(0, -3%);

      // & img {
      //   // transform: translateY(-3rem);
      // }

      @include respond-to("320->") {
        // grid-row: 3 / span 5;
      }

      @include respond-to("568->") {
        grid-row: 15 / span 2;
        // grid-row: 4;
        // grid-column: 4 / span 8;
        grid-column: 6 / span 6;
        z-index: 1;
        transform: translate(11rem, 0rem);
      }

      @include respond-to("1024->") {
        grid-column: 7 / span 6;
        grid-row: 7 / span 3;
        margin-bottom: 0;

        // align-self: flex-end;
        transform: translate(0, 0);
      }
    }

    &--doodle1 {
      grid-row: 2;
      grid-column: 2 / -2;
      // height: 15rem;

      z-index: 4;

      @include respond-to("568->") {
        grid-column: 3 / span 6;
        align-self: end;
        transform: translate(8rem, 7rem);
      }

      @include respond-to("1024->") {
        grid-column: 1 / span 8;
        grid-row: 1;
        // transform: translate(0, 1vw);
        transform: translate(13rem, 8rem);
      }

      @include respond-to("1366->") {
        transform: translate(13rem, 18rem);
      }
    }

    &--doodle2 {
      grid-column: 2 / -2;
      grid-row: 3;
      z-index: 3;
      // transform: translate(0, -1.5rem);

      // height: 15rem;
      @include respond-to("568->") {
        grid-column: 2 / span 6;
        align-self: end;
        transform: translate(-2rem, 5rem);
      }

      @include respond-to("1024->") {
        grid-column: 1 / span 8;
        grid-row: 4;
        transform: translate(0rem, 6rem);
      }

      @include respond-to("1366->") {
        transform: translate(0rem, 13rem);
      }

      // @include respond-to("1920->") {
      //   transform: translate(0rem, 13rem);
      // }
    }

    &--doodle3 {
      grid-column: 2 / -2;
      grid-row: 4;
      z-index: 2;
      // transform: translate(0, -5.5rem);
      // height: 15rem;

      @include respond-to("568->") {
        grid-column: 1 / span 7;
        // transform: translate(-5rem, -8.5rem);
      }

      @include respond-to("1024->") {
        grid-column: 1 / span 8;
        grid-row: 6;
        transform: translate(9rem, 0rem);
      }

      @include respond-to("1366->") {
        transform: translate(10rem, 4rem);
      }

      @include respond-to("1920->") {
        transform: translate(8rem, 3rem);
      }
    }
  }

  &__content {
    grid-column: 2 / 8;
    grid-row: 1 / 4;

    // min-width: 45rem;

    font-family: var(--ff);
    // outline: 4px solid red;

    &-box {
      position: relative;
      width: 100%;
      height: 100%;

      & div > p {
        text-indent: 2rem;
        width: 85%;
        margin: 0 auto;
        line-height: 1.2;
      }

      //   &::before {
      //     content: "";
      //     width: 50%;
      //     height: 100%;
      //     shape-outside: polygon(
      //       0 0,
      //       98% 0,
      //       50% 6%,
      //       23.4% 17.3%,
      //       6% 32.6%,
      //       0 50%,
      //       6% 65.6%,
      //       23.4% 82.7%,
      //       50% 94%,
      //       98% 100%,
      //       0 100%
      //     );
      //     // shape-margin: 7%;
      //     float: left;
      //   }

      & div {
        width: 100%;
        height: 100%;
        background: radial-gradient(
          ellipse at center,
          rgb(255, 255, 255) 0%,
          rgb(253, 253, 253) 70%,
          rgba(255, 255, 255, 0) 70.3%
        );
      }

      //   & div:before {
      //     content: "";
      //     width: 50%;
      //     height: 100%;
      //     float: right;
      //     shape-outside: polygon(
      //       2% 0%,
      //       100% 0%,
      //       100% 100%,
      //       2% 100%,
      //       50% 94%,
      //       76.6% 82.7%,
      //       94% 65.6%,
      //       100% 50%,
      //       94% 32.6%,
      //       76.6% 17.3%,
      //       50% 6%
      //     );
      //     // shape-margin: 7%;
      //   }
    }
  }

  &__dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;
    justify-content: space-between;

    z-index: 5;

    @include respond-to("568->") {
      display: none;
    }

    button {
      @include flex(null, center, center);

      width: 4rem;
      aspect-ratio: 1;

      background-color: transparent;
      background-image: url("../img/svg/circle4.svg");
      background-repeat: no-repeat;

      border: none;
    }
  }
}

// .home-page-leave {
//   opacity: 1;
// }

// .home-page-leave-active {
//   transition: opacity 0.75s linear;
// }

// .home-page-leave-to {
//   opacity: 0;
// }

// .home-page-enter {
//   clip-path: circle(0%);
// }

// .home-page-active {
//   transition: opacity 0.75s linear;
//   position: absolute;
//   top: 0;
//   z-index: 9999999;
// }

// .home-page-enter-to {
//   clip-path: circle(75%);
// }

// .home-page-once {
//   opacity: 0;
// }

// .home-page-once-active {
//   transition: opacity 3s linear;
// }

// .home-page-once-to {
//   opacity: 1;
// }

// .loader {
//   position: fixed;
//   width: 100vw;
//   height: 200vh;
//   pointer-events: none;
//   background-color: #fff6ed;
//   z-index: 1;
//   visibility: hidden;
//   opacity: 0;
// }

// .is-transitioning {
//   pointer-events: none;
//   cursor: progress;
// }
// .loading-screen {
//   position: relative;
//   padding-left: 0;
//   padding-right: 0;
//   padding-top: 0;
//   background-color: #4bedc2;
//   width: 0%;
//   height: 100%;
// }

// .load-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
//   z-index: 10;
//   pointer-events: none;
// }
