.menu {
  --gap: 0;
  position: fixed;
  inset: var(--padding-container);

  grid-template-columns: 1fr;
  grid-template-rows: min-content minmax(2rem, 1fr) repeat(6, 1fr) minmax(
      2rem,
      1fr
    );
  width: calc(100vw - var(--padding-container) * 2);

  background-color: var(--clr-footer);
  overflow: hidden;
  z-index: 20;

  height: 0;

  @include respond-to("568->") {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content min-content minmax(30rem, 1fr);
  }

  &__box {
    position: relative;
    @include flex(null, center, null);
    grid-column: 1;
    grid-row: 3 / span 4;
    margin: 0;

    & > svg {
      max-width: 30rem;
      margin: 0 auto;

      overflow: visible;

      & .cls-1 {
        isolation: isolate;
      }
      & .cls-2 {
        fill: hsl(49, 89%, 79%);
      }
      & .cls-3 {
        fill: url(#Super_Soft_Black_Vignette_2);
      }
      & .cls-4 {
        fill: url(#Super_Soft_Black_Vignette_2-2);
      }
      & .cls-5 {
        fill: url(#Super_Soft_Black_Vignette_2-3);
      }
      & .cls-6 {
        fill: HSL(var(--primary-hs) 100%);
      }
      & .cls-7 {
        fill: url(#Super_Soft_Black_Vignette_2-4);
      }
      & .cls-8 {
        fill: url(#Super_Soft_Black_Vignette_2-5);
      }
      & .cls-9 {
        fill: hsl(358, 85%, 52%);
      }
      & .cls-10 {
        fill: url(#Super_Soft_Black_Vignette_2-6);
      }
      & .cls-11 {
        fill: url(#Super_Soft_Black_Vignette_2-7);
      }
      & .cls-12 {
        fill: url(#Super_Soft_Black_Vignette_2-8);
      }
      & .cls-13 {
        fill: url(#Super_Soft_Black_Vignette_2-9);
      }
      & .cls-14 {
        fill: url(#Super_Soft_Black_Vignette_2-10);
      }
      & .cls-15 {
        fill: url(#Super_Soft_Black_Vignette_2-11);
      }
      & .cls-16 {
        fill: url(#Super_Soft_Black_Vignette_2-12);
      }
      & .cls-17 {
        fill: url(#Super_Soft_Black_Vignette_2-13);
      }
      & .cls-18 {
        fill: url(#Super_Soft_Black_Vignette_2-14);
      }
      & .cls-19 {
        fill: url(#Super_Soft_Black_Vignette_2-15);
      }
      & .cls-20 {
        fill: url(#Super_Soft_Black_Vignette_2-16);
      }
      & .cls-21 {
        fill: url(#Super_Soft_Black_Vignette_2-17);
      }
      & .cls-22 {
        fill: url(#Super_Soft_Black_Vignette_2-18);
      }
      & .cls-23 {
        fill: url(#Super_Soft_Black_Vignette_2-19);
      }
      & .cls-24 {
        fill: url(#Super_Soft_Black_Vignette_2-20);
      }
      & .cls-25 {
        fill: url(#Super_Soft_Black_Vignette_2-21);
      }
      & .cls-26 {
        fill: url(#Super_Soft_Black_Vignette_2-22);
      }
      & .cls-27 {
        fill: url(#Super_Soft_Black_Vignette_2-23);
      }
      & .cls-28 {
        fill: hsl(340, 77%, 48%);
      }
      & .cls-29 {
        fill: url(#Super_Soft_Black_Vignette_2-24);
      }
      & .cls-30 {
        fill: url(#Super_Soft_Black_Vignette_2-25);
      }
      & .cls-31 {
        fill: url(#Super_Soft_Black_Vignette_2-26);
      }
      & .cls-32 {
        fill: url(#Super_Soft_Black_Vignette_2-27);
      }
      & .cls-33 {
        fill: #6d6e71;
        mix-blend-mode: multiply;
        opacity: 0.5;
      }
      & .cls-34 {
        fill: url(#Super_Soft_Black_Vignette_2-28);
      }
      & .cls-35 {
        fill: url(#Super_Soft_Black_Vignette_2-29);
      }
      & .cls-36 {
        fill: hsl(16, 82%, 62%);
      }
      & .cls-37 {
        fill: url(#Super_Soft_Black_Vignette_2-30);
      }
      & .cls-38 {
        fill: url(#Super_Soft_Black_Vignette_2-31);
      }
      & .cls-39 {
        fill: url(#Super_Soft_Black_Vignette_2-32);
      }
      & .cls-40 {
        fill: url(#Super_Soft_Black_Vignette_2-33);
      }
      & .cls-41 {
        fill: url(#Super_Soft_Black_Vignette_2-34);
      }
      & .cls-42 {
        fill: url(#Super_Soft_Black_Vignette_2-35);
      }
      & .cls-43 {
        fill: url(#Super_Soft_Black_Vignette_2-36);
      }
      & .cls-44 {
        fill: url(#Super_Soft_Black_Vignette_2-37);
      }
      & .cls-45 {
        fill: url(#Super_Soft_Black_Vignette_2-38);
      }

      @include respond-to("568->") {
        max-width: 80rem;
        margin: 0;
        // transform: translateX(-10rem);
      }
    }

    & img {
      @include abs-center;
      width: 80%;
      z-index: -1;
    }

    @include respond-to("568->") {
      @include flex(column, center, flex-start);
      grid-column: 3 / span 3;
      grid-row: 3;
    }
  }

  &__img {
    grid-column: 1 / span 3;
    grid-row: 6 / span 3;
    align-self: center;

    z-index: -1;

    & > img {
      @include flex(null, null, center);
      // max-width: 40rem;
      margin: 0 auto;
      // transform: translate3d(0, 0, 0) scale(1);
      // transition: transform 0.1s ease;

      @include respond-to("568->") {
        max-width: 100vw;
        width: Min(140rem, 85vw);
        // transform: translate3d(-16vw, 5vw, 0) scale(1);

        margin: 0;
      }
    }

    @include respond-to("568->") {
      grid-row: 3;
    }
  }

  &__stars {
    grid-column: 1;
    grid-row: 2 / -1;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);

    @include respond-to("568->") {
      grid-column: 3 / span 3;
      grid-row: 1 / -1;

      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: min-content;
    }

    & > * {
      width: 6rem;
      aspect-ratio: 1;
      z-index: -1;
    }

    & > *:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
      align-self: center;

      width: 7rem;
    }

    & > *:nth-child(2) {
      grid-column: 3;
      grid-row: 4;

      width: 4rem;

      @include respond-to("568->") {
        grid-column: 6;
        grid-row: 4;
        justify-self: flex-end;

        width: 6rem;
      }
    }

    & > *:nth-child(3) {
      grid-column: 1;
      grid-row: 6;

      @include respond-to("568->") {
        grid-column: 5;
        grid-row: 6;
        justify-self: flex-end;

        width: Max(7rem, 6vw);
      }
    }
  }

  .menu__star {
    transform: rotate(45deg);
  }
}

.nav {
  --flow-space: 0.6rem;
  grid-column: 1 / -1;
  grid-row: 7;
  justify-self: center;
  align-self: center;

  @include respond-to("568->") {
    --flow-space: 2rem;
    grid-column: 1 / span 3;
    grid-row: 3;
    justify-self: flex-start;
    padding-left: 1rem;
  }

  @include respond-to("1024->") {
    padding-left: 3vw;
  }

  &__item {
    position: relative;
    width: fit-content;
    padding: 0.05rem 3rem 0.05rem 2rem;
    transition: filter 0.6s ease;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      left: calc(-100% - 0.5em);
      width: 100%;
      height: 100%;
      background-color: var(--clr-secondary);
      clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
      z-index: -1;
      transition: left 0.3s ease;
    }

    &:hover {
      filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    }

    &:hover::before {
      left: 0;
    }
  }

  &__list {
    display: inline-block;
  }

  &__link {
    text-decoration: none;
  }
}
