.btn {
  position: relative;

  width: 3.5rem;
  aspect-ratio: 1;
  align-self: flex-end;
  border-radius: 50%;

  cursor: pointer;

  background: none;
  border: 0;
  z-index: 20;

  &:focus-visible {
    outline: 2px solid var(--clr-orange);
    outline-offset: 5px;
  }

  &--outline:focus-visible {
    outline-color: var(--clr-btn-6);
  }

  & svg {
    transition: filter 0.3s linear;
  }

  @include respond-to("568->") {
    width: 5rem;
  }

  &-small {
    // width: 3.35rem;
    width: 4rem;
    height: auto;

    box-shadow: none;

    @include respond-to("568->") {
      width: 5.6rem;
    }
  }

  &[aria-expanded="false"] {
    display: none;
    grid-column: 2;
  }

  &[aria-expanded="true"] {
    grid-column: 2;
    display: flex;
    align-items: flex-end;
  }

  &__text {
    position: absolute;
    top: 0;
    left: -1.5rem;

    fill: var(--clr-btn-4);
    stroke: HSL(var(--primary-hs) 0%);
    stroke-width: 1px;

    @include respond-to("568->") {
      left: -3rem;
    }

    & svg {
      width: 2.5rem;

      overflow: visible;

      @include respond-to("568->") {
        width: 4rem;
      }
    }

    .text-cls-1 {
      fill: var(--clr-btn-6);
      opacity: 0;

      &--about {
        fill: HSL(var(--primary-hs) 100%);
      }
    }
  }

  .cls-1 {
    fill: var(--clr-btn-1);
  }

  .cls-2 {
    fill: var(--clr-btn-2);
  }

  .cls-3 {
    fill: var(--clr-btn-3);
  }

  .cls-4 {
    fill: var(--clr-btn-4);
  }

  .cls-5 {
    fill: var(--clr-btn-5);
  }

  .cls-6 {
    fill: var(--clr-btn-6);
  }

  .cls-7 {
    fill: var(--clr-btn-7);
  }
}

.skip-text-animation {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.6em 0.5em;

  transform: translate(-50%, -100%);

  color: HSL(var(--primary-hs) 0%);
  background-color: HSL(var(--primary-hs) 100%);

  border-top: none;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  z-index: 1000;

  transition: transform 0.25s ease-in;

  &:focus {
    transform: translate(-50%, 0);
    outline: 2px solid var(--clr-orange);
    outline-offset: 1px;
  }

  @include respond-to("568->") {
    padding: 0.6em 1em;
    font-size: 1rem;
  }
}

.menu-btn-close {
  grid-column: 1;

  padding: 0;

  cursor: pointer;

  @include respond-to("568->") {
    padding: 0.3em 2em;
  }
}

.story__dots button {
  &,
  &:focus,
  &:active {
    @include flex(null, center, center);

    width: 4rem;
    aspect-ratio: 1;

    background-color: transparent;
    background-image: url("../img/circle4.svg");
    background-repeat: no-repeat;

    border: none;

    cursor: pointer;
  }
}

.about-dot {
  width: 1.8rem;
  height: 1.8rem;

  border: 0;
  border-radius: 50%;

  background-image: url("../img/circle1.svg");
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;

  transform: scale(1);

  &.active {
    background-image: url("../img/circle4.svg");
    transform: scale(1.4);
  }
}

.skills__btn {
  position: relative;
  width: 100%;

  cursor: pointer;

  background-color: transparent;
  border: none;

  transform: translate3d(0, 0, 0px);

  transition: background-color 0.4s linear;

  &:nth-child(1) {
    grid-column: 2;
    grid-row: 2;
  }

  &:nth-child(2) {
    grid-column: 3;
    grid-row: 2;
  }

  &:nth-child(3) {
    grid-column: 4;
    grid-row: 2;
  }

  @include respond-to("568->") {
    &:nth-child(1) {
      transform: translate3d(-3rem, 0, 0px);
    }

    &:nth-child(2) {
      width: 96.28%;
    }

    &:nth-child(3) {
      width: 90.58%;
      transform: translate3d(-2rem, -1.5rem, 0px);
    }
  }

  span {
    @include abs-center;

    line-height: 1.1;
    z-index: 1;

    @include respond-to("568->") {
      line-height: 1.5;
    }
  }

  &[data-tab="1"] span {
    top: 55%;
    left: 55%;
  }

  &[data-tab="2"] span {
    top: 45%;
    left: 45%;
  }

  &.active {
    img {
      filter: url(#changeColor);
      transition: filter 0.2s linear;
    }
  }
}

.top-nav {
  color: var(--clr-btn-2);
  background-color: var(--clr-btn-7);
  border: 0.4rem solid var(--clr-btn-2);
  // box-shadow: 0px 10px 3px -6px var(--clr-btn-2);
  box-shadow: 6px 6px 3px -1px var(--clr-btn-2);

  // @include respond-to("568->") {
  //   box-shadow: 6px 6px 3px -1px var(--clr-btn-2);
  // }

  span {
    color: var(--clr-orange);

    font-size: 1.5em;

    text-shadow: -0.05em 0.05em 0 black, -0.075em 0.075em 0 black,
      -0.1em 0.1em 0 black, -0.125em 0.125em 0 black;
  }

  &--skills,
  &--about,
  &--contact {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.3em 1em;

    z-index: 3;

    @include respond-to("568->") {
      top: -0.2rem;
      padding: 0.3em 2em;
    }
  }

  &--about {
    z-index: 6;

    @include respond-to("568->") {
      top: 0;
    }
  }

  &--hobbies {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0.3em 1em;

    z-index: 3;
  }
}

.story--2 .top-nav--about {
  left: 0;
  right: auto;
  z-index: -1;
}

.btns-box {
  --gap: 0.5rem;
  position: absolute;

  grid-row: 2;
  grid-template-columns: minmax(5vw, 1fr);
  grid-template-rows: 1fr;

  z-index: 10;

  &--about {
    top: 0;
    grid-template-rows: 5rem;

    @include respond-to("568->") {
      top: 3rem;
    }
  }

  &--skills {
    bottom: 3rem;
  }

  &--contact {
    --gap: 0;
    position: relative;

    grid-template-columns: none;
    // grid-template-rows: none;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
    justify-self: flex-start;

    // top: 1rem;

    @include respond-to("568->") {
      --gap: 0;
      position: relative;

      grid-template-columns: none;
      grid-template-rows: none;
      grid-column: 2;
      grid-row: 1;

      // top: 3rem;
    }
  }
}
