.color-game {
  --gap: 1rem;

  grid-column: 2;
  grid-row: 2 / -1;
  align-self: end;
  // align-self: center;

  @include flex(column, center, null);

  // @media (max-width: 19.999em) {
  //   margin-top: 45vh;
  // }

  @include respond-to("320->") {
    --gap: 2rem;
    @include flex(row, flex-start, null);
    align-self: flex-end;
    grid-column: 2 / span 5;
  }

  @include respond-to("568->") {
    flex-direction: column;
    margin-bottom: 2vw;
  }

  & > * {
    @include flex(null, center, center);
    position: relative;

    width: 3.5rem;
    aspect-ratio: 1;

    // background: radial-gradient(
    //   circle,
    //   HSL(var(--primary-hs) 100%),
    //   HSL(var(--primary-hs) 80%)
    // );

    background-repeat: no-repeat;
    background-color: transparent;
    // background-color: HSL(var(--primary-hs) 100%);

    box-shadow: 0 10px 10px HSL(var(--primary-hs) 0% / 0.3);

    border-radius: 50%;

    cursor: pointer;

    z-index: 1;

    &:nth-child(1) {
      background-image: url("../img/svg/circle1.svg");
    }

    &:nth-child(2) {
      background-image: url("../img/svg/circle4.svg");
    }

    &:nth-child(3) {
      background-image: url("../img/svg/circle3.svg");
    }

    &:nth-child(4) {
      background-image: url("../img/svg/circle4.svg");
    }

    @include respond-to("320->") {
      width: 5rem;
    }
  }

  &__item {
    font-size: clamp(1.5rem, 2vw, 2rem);

    & div {
      @include flex(null, center, center);
      @include abs-center;

      width: 8rem;
      height: 3rem;
      padding: 0.5rem 0.8rem;
      border-radius: 1rem;
      // background-image: url('../../img/svg/rectangle1.svg');
      background-repeat: no-repeat;
      background-position: center;
      // background-size: cover;
      background-color: transparent;
      // background-color: HSL(var(--primary-hs) 100%);
      // box-shadow: 0 10px 10px HSL(var(--primary-hs) 0% / 0.2);
      filter: drop-shadow(0 10px 10px HSL(var(--primary-hs) 0% / 0.2));
      opacity: 0;
      pointer-events: none;
      // overflow: hidden;
      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &[data-name="P"] {
        background-image: url("../img/svg/rectangle1.svg");

        @media (min-width: 20em) and (max-width: 35.499em) {
          background-image: url("../img/svg/rectangle1d.svg");
        }
      }

      &[data-name="L"] {
        background-image: url("../img/svg/rectangle2.svg");

        @media (min-width: 20em) and (max-width: 35.499em) {
          background-image: url("../img/svg/rectangle2d.svg");
        }
      }

      &[data-name="A"] {
        background-image: url("../img/svg/rectangle3.svg");

        @media (min-width: 20em) and (max-width: 35.499em) {
          background-image: url("../img/svg/rectangle3d.svg");
        }
      }

      &[data-name="Y"] {
        background-image: url("../img/svg/rectangle4.svg");

        @media (min-width: 20em) and (max-width: 35.499em) {
          background-image: url("../img/svg/rectangle4d.svg");
        }
      }

      & img {
        height: 100%;

        @media (min-width: 20em) and (max-width: 35.499em) {
          height: 80%;
          margin-top: -0.8rem;
        }
      }

      @media (min-width: 20em) and (max-width: 35.499em) {
        @include abs-center;
        top: calc(100% - 2rem);
        bottom: 0rem;
        left: 50%;
        // transform: translate(-50%, 0) rotate(45deg);
      }

      @include respond-to("320->") {
        height: 4rem;
      }

      // &::before {
      //   content: '';
      //   position: absolute;
      //   width: 1rem;
      //   height: 1rem;
      //   top: 50%;
      //   left: -5px;
      //   transform: translate(0, -50%) rotate(45deg);
      //   background-color: HSL(var(--primary-hs) 100%);
      //   transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      //   @media (min-width: 320px) and (max-width: 567px) {
      //     top: calc(100% - 0.5rem);
      //     // bottom: 0rem;
      //     left: 50%;
      //     transform: translate(-50%, 0) rotate(45deg);
      //   }
      // }
    }

    &:hover div,
    &:focus div {
      transform: translate(clamp(2rem, 6vw, 4rem), -50%);
      opacity: 1;
      pointer-events: auto;

      @media (min-width: 20em) and (max-width: 35.499em) {
        transform: translate(-50%, -8rem);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--clr-btn-6);
    }
  }
}
