.color-game {
  --gap: 1rem;

  grid-column: 2;
  grid-row: 2 / -1;
  align-self: flex-end;

  @include flex(column, center, null);

  @include respond-to("320->") {
    --gap: 1.5rem;
    @include flex(row, flex-start, null);
    align-self: flex-end;
    grid-column: 2 / span 5;
  }

  @include respond-to("568->") {
    flex-direction: column;
    margin-bottom: 2vw;
  }

  & > * {
    @include flex(null, center, center);
    position: relative;

    width: 3.5rem;
    aspect-ratio: 1;

    background-repeat: no-repeat;
    background-color: transparent;

    box-shadow: 0 10px 10px HSL(var(--primary-hs) 0% / 0.3);

    border-radius: 50%;

    cursor: pointer;

    z-index: 1;

    &:nth-child(1) {
      background-image: url("../img/circle1.svg");
    }

    &:nth-child(2) {
      background-image: url("../img/circle4.svg");
    }

    &:nth-child(3) {
      background-image: url("../img/circle3.svg");
    }

    &:nth-child(4) {
      background-image: url("../img/circle4.svg");
    }

    @include respond-to("320->") {
      width: 5rem;
    }
  }

  &__item {
    font-size: clamp(1.5rem, 2vw, 2rem);

    & div {
      @include flex(null, center, center);
      @include abs-center;

      width: 8rem;
      height: 3rem;
      padding: 0.5rem 0.8rem;
      border-radius: 1rem;

      background-repeat: no-repeat;
      background-position: 58%;

      background-size: 30%, 70%;
      background-color: transparent;

      filter: drop-shadow(0 10px 10px HSL(var(--primary-hs) 0% / 0.2));
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &[data-name="P"] {
        background-image: url("../img/glasses.svg"),
          url("../img/rectangle1.svg");
        background-image: -webkit-image-set(url("../img/glasses.webp") 1x),
          url("../img/rectangle1.svg");

        @media (min-width: 20em) and (max-width: 35.499em) {
          background-image: url("../img/glasses.svg"),
            url("../img/rectangle1d.svg");
          background-image: -webkit-image-set(url("../img/glasses.webp") 1x),
            url("../img/rectangle1d.svg");
          background-size: 53%, 100%;
        }
      }

      &[data-name="L"] {
        background-image: url("../img/pullover.svg"),
          url("../img/rectangle2.svg");
        background-image: -webkit-image-set(url("../img/pullover.webp") 1x),
          url("../img/rectangle2.svg");
        background-size: 25%, 70%;

        @media (min-width: 20em) and (max-width: 35.499em) {
          background-image: url("../img/pullover.svg"),
            url("../img/rectangle2d.svg");
          background-image: -webkit-image-set(url("../img/pullover.webp") 1x),
            url("../img/rectangle2d.svg");
          background-size: 35%, 100%;
        }

        @include respond-to("568->") {
          background-size: 35%, 100%;
        }
      }

      &[data-name="A"] {
        background-image: url("../img/beard.svg"), url("../img/rectangle3.svg");
        background-image: -webkit-image-set(url("../img/beard.webp") 1x),
          url("../img/rectangle3.svg");

        @media (min-width: 20em) and (max-width: 35.499em) {
          background-image: url("../img/beard.svg"),
            url("../img/rectangle3d.svg");
          background-image: -webkit-image-set(url("../img/beard.webp") 1x),
            url("../img/rectangle3d.svg");
          background-size: 50%, 100%;
        }
      }

      &[data-name="Y"] {
        background-image: url("../img/noir.svg"), url("../img/rectangle4.svg");
        background-image: -webkit-image-set(url("../img/noir.webp") 1x),
          url("../img/rectangle4.svg");
        background-size: 25%, 70%;

        @media (min-width: 20em) and (max-width: 35.499em) {
          background-image: url("../img/noir.svg"),
            url("../img/rectangle4d.svg");
          background-image: -webkit-image-set(url("../img/noir.webp") 1x),
            url("../img/rectangle4d.svg");
          background-size: 35%, 100%;
        }

        @include respond-to("568->") {
          background-size: 35%, 100%;
        }
      }

      & img {
        height: 100%;

        @media (min-width: 20em) and (max-width: 35.499em) {
          height: 80%;
          margin-top: -0.8rem;
        }
      }

      @media (min-width: 20em) and (max-width: 35.499em) {
        @include abs-center;
        width: 5rem;
        top: calc(100% - 2rem);
        bottom: 0rem;
        left: 50%;
        background-position: 50% 35%, center;
        background-size: 40%, 100%;
      }

      @include respond-to("320->") {
        height: 4rem;
        background-size: 40%, 100%;
      }
    }

    & img {
      position: absolute;
      z-index: -1;
    }

    &:hover div,
    &:focus div {
      transform: translate(clamp(2rem, 6vw, 4rem), -50%);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;

      @media (min-width: 20em) and (max-width: 35.499em) {
        transform: translate(-50%, -8rem);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--clr-btn-6);
    }
  }
}
