.cursor {
  display: none;

  width: 5rem;
  aspect-ratio: 1;

  & path {
    fill: var(--clr-cursor);
    stroke: var(--clr-black);
    stroke-width: 22.4366;
    stroke-miterlimit: 10;
  }

  @media (any-pointer: fine) {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    z-index: 1000;
  }
}
