.doodle {
  position: absolute;

  width: Max(19rem, 40vw);
  z-index: 1;
  transform: scale(0);
  opacity: 0;

  transition: transform 0s, opacity 2s ease-in-out;

  & svg {
    overflow: visible;
  }

  & .cls-1 {
    fill: HSL(var(--primary-hs) 100%);
    filter: drop-shadow(10px 5px 2px HSL(var(--primary-hs) 0% / 0.4));
  }

  @media (max-width: 20em) {
    &__desktop {
      width: 0;
    }
  }

  &-mobile {
    display: block;
    min-width: 15rem;
    grid-column: 3 / -3;
    grid-row: 2 / -1;
    align-self: center;
    justify-self: center;
    opacity: 0;

    z-index: -1;

    transition: opacity 2s ease-in-out;

    .cls-1 {
      fill: HSL(var(--primary-hs) 100%);
    }

    .cls-2 {
      fill: HSL(var(--primary-hs) 0%);
    }

    @include respond-to("320->") {
      display: none;
    }
  }
}
