#wrapper {
  &:hover #wrapper__corner-box,
  &:focus-visible #wrapper__corner-box {
    // transform: scale(var(--scale-1));
  }

  &__box {
    position: relative;
    z-index: 0;
  }

  &__corner-box {
    position: absolute;
    bottom: 0;
    right: 0;

    width: var(--corner-flip-size-0);
    height: var(--corner-flip-size-0);

    z-index: 20;

    transform: scale(170);
    transform-origin: right bottom;

    transition: transform 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      display: block;

      width: 133%;
      height: 133%;
    }

    // &:hover {
    //   pointer-events: none;
    // }
  }

  & &__corner-box:hover,
  & &__corner-box:focus-within {
    // transform: scale(var(--scale-2));
  }

  & &__corner-box:focus-visible {
    outline: 1px solid var(--clr-orange);
    outline-offset: 2px;
  }

  & &__corner-box:active {
    outline: none;
  }
}

#corner-link {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  width: 100%;
  height: 100%;

  border-image: linear-gradient(
    HSL(var(--primary-hs) 100%) 58%,
    transparent 50%
  );
  border-image-slice: 1;

  background: -webkit-linear-gradient(
    -45deg,
    HSL(var(--primary-hs) 87%) 18%,
    HSL(var(--primary-hs) 87%) 22%,
    HSL(var(--primary-hs) 96%) 28%,
    HSL(var(--primary-hs) 97%) 32%,
    HSL(var(--primary-hs) 93%) 43%,
    HSL(var(--primary-hs) 78% / 0) 75%
  );

  transform: translate3d(0, 0, 1px);

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;

    border-bottom-right-radius: 55%;

    backface-visibility: hidden;

    z-index: 1;

    width: 38%;
    aspect-ratio: 1;
  }

  &::before {
    bottom: 0;
    right: 100%;

    background: -webkit-radial-gradient(
      625% 635%,
      circle,
      hsla(218, 83%, 18%, 0.13) 89%,
      transparent 91%
    );

    // box-shadow: 3px 3px 1px HSL(var(--primary-hs) 93%/0.988),
    //   1px 3px 0px HSL(var(--primary-hs) 89%/0.97);
    box-shadow: 2px 2px 1px -1px HSL(var(--primary-hs) 86%/0.988),
      4px 7px 3px HSL(var(--primary-hs) 90%/1);
    border-radius: 0% 0% 55% 0%;
  }

  &::after {
    bottom: var(--corner-flip-size-0);

    right: 0;

    background: -webkit-radial-gradient(
      -145% -145%,
      circle,
      HSL(var(--primary-hs) 100%/0) 86%,
      hsla(218, 83%, 18%, 0.2)
    );

    // box-shadow: 3px 1px 1px 0px HSL(var(--primary-hs) 89%/0.988),
    //   3px 1px 1px 0px HSL(var(--primary-hs) 86%/0.1),
    //   1px 1px 1px 0px HSL(var(--primary-hs) 89%/0.988);
    box-shadow: 2px 1px 1px 0px HSL(var(--primary-hs) 89%/0.988),
      4px 1px 1px 0px HSL(var(--primary-hs) 99%/0.1);
    border-radius: 0% 0% 59% 0%;
  }

  &:focus-visible {
    outline: 1px solid var(--clr-orange);
  }

  &:focus-visible #wrapper__corner-box {
    transform: scale(var(--scale-2));
  }

  &:active {
    outline: none;
  }
}

#wrapper:hover #corner-button,
#wrapper:focus-visible #corner-button {
  transform: scale(calc(1 / var(--scale-1)));
  transform-origin: bottom right;
  opacity: 0;
  visibility: hidden;
}

#wrapper div#wrapper__corner-box:hover #corner-button,
#wrapper div#wrapper__corner-box:focus-visible #corner-button,
#corner-link:focus-visible #corner-button {
  transform-origin: bottom right;
  transform: scale(calc(1 / var(--scale-2)));

  opacity: 1;
  visibility: visible;
}

#corner-content {
  position: absolute;
  bottom: 0;
  right: 0;

  display: block;

  width: 125%;
  height: 125%;

  overflow: hidden;
  backface-visibility: hidden;
  mask: -webkit-linear-gradient(
    -45deg,
    transparent 51%,
    HSL(var(--primary-hs) 44%) 53%
  );
  -webkit-mask: -webkit-linear-gradient(
    -45deg,
    transparent 49%,
    HSL(var(--primary-hs) 0%) 53%
  );

  &::before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
  }

  &::before {
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      -45deg,
      HSL(var(--primary-hs) 100%) 43%,
      transparent 45%
    );
  }

  &:after {
    width: 100%;
    height: 100%;

    background: -webkit-linear-gradient(
        -49deg,
        HSL(var(--primary-hs) 100% / 0.2) 16%,
        HSL(var(--primary-hs) 87%) 20%,
        HSL(var(--primary-hs) 90% / 0.1) 32%,
        HSL(var(--primary-hs) 100% / 0.2) 66%
      ),
      -webkit-radial-gradient(-54% -55%, circle, transparent 36%, HSL(
              var(--primary-hs) 20% / 0.15
            )
            75%, transparent 85%);
  }
}

#corner-button {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 12rem;
  aspect-ratio: 1;

  background-color: transparent;

  z-index: 1;

  & svg {
    position: absolute;
    bottom: 0;
    right: 0;

    overflow: visible;
    transform-origin: bottom right;

    aspect-ratio: 1;
    border-right: 0.5rem solid transparent;

    // transition: transform 0.3s ease-out;
  }
}

.corner-border {
  --clr-stop1: HSL(var(--primary-hs) 100%);
  --clr-stop2: HSL(var(--primary-hs) 100% / 0.75);
  --clr-arc-top-stop1: HSL(var(--primary-hs) 100%);
  --clr-arc-top-stop2: HSL(var(--primary-hs) 100% / 0.75);
  position: absolute;

  transition: transform 0.3s linear;
  overflow: visible;
  z-index: 3;

  & > * {
    width: 100%;
    height: 100%;
    fill: none;

    stroke-width: 1px;
  }

  & .corner-arc-left {
    stroke: url(#corner-arc-left);
  }

  & .corner-arc-top {
    stroke: url(#corner-arc-top);
  }
}

.inactive-hover {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s linear;
}
