#wrapper {
  &:hover #wrapper__corner-box {
    width: var(--corner-flip-size-1);
    height: var(--corner-flip-size-1);
  }

  &__box {
    position: relative;
    z-index: 0;
  }

  &__corner-box {
    position: absolute;
    bottom: 0;
    right: 0;

    width: var(--corner-flip-size-0);
    height: var(--corner-flip-size-0);

    z-index: 20;

    transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;

      display: block;

      width: 133%;
      height: 133%;
    }
  }

  & &__corner-box:hover {
    width: var(--corner-flip-size-2);
    height: var(--corner-flip-size-2);
  }

  &.flip &__corner-box:hover {
    width: calc(var(--corner-flip-size-2));
    height: calc(var(--corner-flip-size-2));
  }
}

#corner-link {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  width: 100%;
  height: 100%;

  border-top: solid 1px HSL(var(--primary-hs) 100%);
  border-left: solid 1px transparent;
  border-image: linear-gradient(
    HSL(var(--primary-hs) 100%) 58%,
    transparent 50%
  );
  border-image-slice: 1;

  background: -webkit-linear-gradient(
    -45deg,
    HSL(var(--primary-hs) 87%) 18%,
    HSL(var(--primary-hs) 87%) 22%,
    HSL(var(--primary-hs) 96%) 28%,
    HSL(var(--primary-hs) 97%) 32%,
    HSL(var(--primary-hs) 93%) 43%,
    HSL(var(--primary-hs) 78% / 0) 75%
  );

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;

    width: 50%;
    height: 50%;

    border-bottom-right-radius: 55%;
    border-right: solid 1px HSL(var(--primary-hs) 100%);

    backface-visibility: hidden;

    z-index: 1;
  }

  &::before {
    bottom: -1px;
    right: 100%;

    background: -webkit-radial-gradient(
      625% 635%,
      circle,
      hsla(218, 83%, 18%, 0.12) 89%,
      transparent 91%
    );

    box-shadow: 2.7rem 1.8rem 0.4rem -2.2rem HSL(var(--primary-hs) 91% / 0.988);
  }

  &::after {
    bottom: 100%;
    right: -1px;

    background: -webkit-radial-gradient(
      -145% -145%,
      circle,
      HSL(var(--primary-hs) 100% / 0) 85%,
      HSL(var(--primary-hs) 0% / 0.1) 93%
    );

    box-shadow: 0px 13px 16px -14px HSL(var(--primary-hs) 78% / 0.988);
  }
}

#wrapper div#wrapper__corner-box:hover #corner-link {
  border-top: solid 2px HSL(var(--primary-hs) 100%);
  border-left: solid 2px HSL(var(--primary-hs) 100%);
}

#wrapper:hover #corner-link:before {
  border-right: solid 1px HSL(var(--primary-hs) 100%);
  border-bottom: solid 1px HSL(var(--primary-hs) 100%);
}

#wrapper:hover #corner-link:after {
  border-bottom: solid 1px HSL(var(--primary-hs) 100%);
}

#wrapper div#wrapper__corner-box:hover #corner-link:before {
  border-right: solid 2px HSL(var(--primary-hs) 100%);
  border-bottom: solid 1px HSL(var(--primary-hs) 100%);
}

#wrapper div#wrapper__corner-box:hover #corner-link:after {
  border-bottom: solid 2px HSL(var(--primary-hs) 100%);
}

#corner-content {
  position: absolute;
  bottom: 0;
  right: 0;

  display: block;

  width: 125%;
  height: 125%;

  overflow: hidden;
  mask: -webkit-linear-gradient(
    -45deg,
    transparent 51%,
    HSL(var(--primary-hs) 44%) 53%
  );
  -webkit-mask: -webkit-linear-gradient(
    -45deg,
    transparent 49%,
    HSL(var(--primary-hs) 0%) 53%
  );

  &::before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
  }

  &::before {
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      -45deg,
      HSL(var(--primary-hs) 100%) 46%,
      transparent 48%
    );
  }

  &:after {
    width: 100%;
    height: 100%;

    background: -webkit-linear-gradient(
        -49deg,
        HSL(var(--primary-hs) 100% / 0.2) 16%,
        HSL(var(--primary-hs) 87%) 20%,
        HSL(var(--primary-hs) 90% / 0.1) 32%,
        HSL(var(--primary-hs) 100% / 0.2) 66%
      ),
      -webkit-radial-gradient(-54% -55%, circle, transparent 36%, HSL(
              var(--primary-hs) 0% / 0.15
            )
            75%, transparent 85%);
  }
}

#corner-button {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 14rem;

  padding: 0.8rem 0.5rem;

  background-color: transparent;

  z-index: 1;

  // @include respond-to('320->') {
  //   width: 8rem;
  // }

  // @include respond-to('736->') {
  //   width: 14rem;
  // }
}
