.hello {
  //   @include flex(null, center, center);
  grid-column: 2 / -1;
  grid-row: 2;

  justify-self: center;
  align-self: center;
  z-index: -1;

  @include respond-to('320->') {
    // align-items: flex-start;
  }

  @include respond-to('568->') {
    justify-self: flex-start;
  }

  @include respond-to('736->') {
    grid-column: 3 / span 2;
  }

  svg {
    width: clamp(20rem, 35vw, 48rem);
    overflow: visible;

    @include respond-to('320->') {
      width: clamp(30rem, 35vw, 48rem);
    }
  }
}
