.logo {
  width: 2.5rem;

  grid-column: 7;
  justify-self: flex-end;
  align-self: flex-end;

  z-index: 20;

  @include respond-to('568->') {
    width: 5rem;
  }

  svg {
    transition: fill 0.5s ease;

    & .cls-1 {
      fill: var(--clr-logo-1);
    }

    & .cls-2 {
      fill: HSL(var(--primary-hs) 100%);
    }
  }

  &:hover {
    svg {
      fill: var(--clr-btn-1);
    }
  }
}
