.photo,
.pre-photo {
  grid-column: 2 / span 6;
  grid-row: 2 / span 4;
  align-self: end;
  transform: translate(2rem, 4rem);

  z-index: -1;

  & > * {
    min-width: 40rem;
  }

  @media (max-width: 20em) {
    & > * {
      min-width: auto;
    }
  }

  @include respond-to("320->") {
    grid-column: 3 / span 6;
    transform: translate(5rem, 5rem);

    & > * {
      min-width: 40rem;
    }
  }

  @include respond-to("568->") {
    transform: translate(13rem, 7rem);

    & > * {
      width: auto;
    }
  }

  @include respond-to("736->") {
    grid-column: 4 / span 4;

    transform: translate(9rem, 7rem);
  }

  @include respond-to("1024->") {
    grid-column: 5 / span 4;

    transform: translate(0, 9.5rem);
  }
}

.photo {
  & .cls-1 {
    fill: none;
  }
  & .cls-2 {
    fill: #252425;
  }
  & .cls-3 {
    fill: #252425;
  }
  & .cls-4 {
    fill: #f8c5a8;
  }
  & .cls-5 {
    fill: #a8745d;
  }
  & .cls-6 {
    fill: #8a6339;
  }
  & .cls-7 {
    fill: #754e24;
  }
  & .cls-8 {
    fill: #e3a583;
  }
  & .cls-9 {
    fill: #d89773;
  }
  & .cls-10 {
    fill: #f5bb93;
  }
  & .cls-11 {
    fill: #d49878;
  }
  & .cls-12 {
    fill: #cb8c6d;
  }
  & .cls-13 {
    fill: #e0a384;
  }
  & .cls-14 {
    fill: #f9d3b9;
  }
  & .cls-15 {
    fill: #bd7f66;
  }
  & .cls-16 {
    fill: #7a5332;
  }
  & .cls-17 {
    fill: #383632;
  }
  & .cls-18 {
    fill: #343334;
  }
  & .cls-19 {
    fill: #332d29;
  }
  & .cls-20 {
    fill: #191616;
  }
  & .cls-21 {
    fill: #4e4c4c;
    stroke: #4f4d4d;
    stroke-miterlimit: 10;
  }
  & .cls-22 {
    fill: #ab685a;
  }
  & .cls-23 {
    fill: #a05c50;
  }
  & .cls-24 {
    fill: #934e45;
  }
  & .cls-25,
  & .cls-40 {
    fill: #fff;
  }
  & .cls-26 {
    fill: url(#linear-gradient);
  }
  & .cls-27 {
    fill: #e0e6f2;
  }
  & .cls-28 {
    fill: #c1cee2;
  }
  & .cls-29 {
    fill: #cfd8e3;
  }
  & .cls-30 {
    fill: #adb9cc;
  }
  & .cls-31 {
    fill: #202b50;
  }
  & .cls-32 {
    fill: #1a1e39;
  }
  & .cls-33 {
    fill: #1b1730;
  }
  & .cls-34 {
    fill: #1c3762;
  }
  & .cls-35 {
    fill: #005142;
  }
  & .cls-36 {
    fill: #1e1d1d;
  }
  & .cls-37 {
    fill: #363131;
  }
  & .cls-38 {
    fill: #2d2a2a;
  }
  & .cls-39 {
    fill: #2b2727;
  }
  & .cls-40 {
    opacity: 0.33;
  }
  & .cls-41 {
    fill: #1d1a36;
  }
  & .cls-42 {
    fill: #272a5b;
  }
  & .cls-43 {
    opacity: 0.21;
  }
  & .cls-44 {
    fill: #202349;
  }
  & .cls-45 {
    fill: #212245;
  }
  & .cls-46 {
    fill: url(#linear-gradient-2);
  }
  & .cls-47 {
    fill: url(#linear-gradient-3);
  }
  & .cls-48 {
    fill: url(#linear-gradient-4);
  }
  & .cls-49 {
    fill: url(#linear-gradient-5);
  }
  & .cls-50 {
    fill: url(#linear-gradient-6);
  }
  & .cls-51 {
    fill: url(#linear-gradient-7);
  }
}

.pre-photo .cls-1 {
  fill: var(--clr-orange);
}

.st37.glass {
  overflow: hidden;
  z-index: -1;
  order: -1;
}

.cls-43.glass {
  overflow: hidden;
  z-index: -1;
  order: -1;
}
