.photo,
.pre-photo {
  grid-column: 2 / span 6;
  grid-row: 2 / span 4;
  align-self: end;
  transform: translate(3rem, 5rem);

  & > * {
    min-width: 40rem;
  }

  @media (max-width: 20em) {
    & > * {
      min-width: auto;
    }
  }

  @include respond-to('320->') {
    grid-column: 3 / span 6;
    transform: translate(5rem, 9rem);

    & > * {
      min-width: 40rem;
    }
  }

  @include respond-to('568->') {
    // grid-column: 3 / span 5;
    // grid-row: 2 / span 4;
    transform: translate(12rem, 15rem);

    & > * {
      width: auto;
    }
  }

  @include respond-to('736->') {
    grid-column: 4 / span 4;
    // grid-row: 5 / span 1;
    // grid-row: 1 / span 5;
    // transform: translateY(15rem);
    transform: translate(0, 15rem);
  }

  @include respond-to('1024->') {
    grid-column: 5 / span 4;
    // grid-row: 1 / span 5;
    // transform: translateY(15rem);
  }
}

.photo {
  // position: relative;
  // outline: 3px solid green;
  z-index: 2;
}

.pre-photo {
  z-index: 0;
}

.pre-photo .cls-1 {
  fill: HSL(var(--primary-hs) 100%);
}

// .st34.glass {
//   width: 100%;
//   height: 100%;
//   // fill: url(#bg-glass);
// }
.st37.glass {
  overflow: hidden;
  z-index: -1;
  order: -1;
}
