:root {
  --match-clr: #9b9bf8;
  --accent-clr: rgb(255, 255, 255);
  --test-clr: rgb(247, 160, 239);
}

#wrapper {
  background-color: var(
    --match-clr
  ); /* some background color to match corner inside's */
  width: 100%; /* trivial */
  height: 100vh;
  font: 12pt arial, sans-serif, helvetica, verdana; /* trivial */
  color: #666; //trivial
  place-items: center;

  &__box {
    width: 800px; /*any relative or absolute*/
    aspect-ratio: 1;
    position: relative;
    background-color: var(--accent-clr);

    &:hover #wrapper__corner-box {
      width: 50px;
      height: 50px;
    }
  }

  &__content {
    @include flex(null, space-between, flex-start);
    flex-wrap: wrap;
    height: 100%;
    padding: 20px;
    // border: 2px solid blue;

    & > * + * {
      margin-top: 2rem;
    }

    h1 {
      order: -1;
      flex: 1;
    }
  }

  &__corner-box {
    /* edit these sizes for the default revealing corner size */
    height: 20px;
    width: 20px;
    right: 0;
    top: 0;
    position: absolute;
    overflow: visible;
    // border: 2px solid orangered;
    transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
  }

  & &__corner-box:hover {
    width: 100px;
    height: 100px;
  }
}

#wrapper__content:before {
  content: '';
  width: 80px;
  height: 80px;

  //   border: 1px solid yellow;
}

#wrapper__content:after {
  content: '';
  width: 80px;
  height: 80px;

  align-self: end;
  margin-left: auto;

  //   border: 1px solid yellow;
}

#wrapper__corner-box:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: block;
  width: 133%;
  height: 133%;
  //   border: 1px solid green;
}

#wrapper__corner-box-2:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  display: block;
  width: 133%;
  height: 133%;
  //   border: 1px solid green;
}

#corner-link {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background: -webkit-linear-gradient(
    45deg,
    #ddd 17%,
    #dfdfdf 18%,
    #f5f5f5 30%,
    #f8f8f8 34%,
    #eee 39%,
    rgba(200, 200, 200, 0) 41%
  );
  display: block;
  width: 100%;
  height: 100%;
  //   border: 2px solid black;

  &::before,
  &::after {
    // background-color: var(--accent-clr);
    position: absolute;
    display: block;
    // z-index: 2;
    border-top-right-radius: 60%;
    width: 50%;
    height: 50%;
    content: '';
    background-color: coral;
  }

  &::before {
    top: 0;
    right: 100%;
    background: -webkit-radial-gradient(
      -180% 200%,
      circle,
      rgba(255, 255, 255, 0) 85%,
      rgba(0, 0, 0, 0.1) 93%
    );
  }

  &::after {
    top: 100%;
    right: 0;
    background: -webkit-radial-gradient(
      -250% 320%,
      circle,
      rgba(255, 255, 255, 0) 85%,
      rgba(0, 0, 0, 0.1) 93%
    );
  }
}

#corner-link-2 {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background: -webkit-linear-gradient(
    -45deg,
    #ddd 17%,
    #dfdfdf 18%,
    #f5f5f5 30%,
    #f8f8f8 34%,
    #eee 39%,
    rgba(200, 200, 200, 0) 41%
  );
  display: block;
  width: 100%;
  height: 100%;
  //   border: 2px solid black;

  &::before,
  &::after {
    // background-color: var(--accent-clr);
    position: absolute;
    display: block;
    // z-index: 2;
    border-bottom-right-radius: 60%;
    width: 50%;
    height: 50%;
    content: '';
    background-color: coral;
  }

  &::before {
    bottom: 0;
    right: 100%;
    background: -webkit-radial-gradient(
      -160% -200%,
      circle,
      rgba(255, 255, 255, 0) 85%,
      rgba(0, 0, 0, 0.1) 93%
    );
  }

  &::after {
    bottom: 100%;
    right: 0;
    background: -webkit-radial-gradient(
      -145% -145%,
      circle,
      rgba(255, 255, 255, 0) 85%,
      rgba(0, 0, 0, 0.1) 93%
    );
  }
}

#wrapper__box:hover #corner-link:before {
  border-right: solid 1px var(--accent-clr);
}

#wrapper__box:hover #corner-link:after {
  border-top: solid 1px var(--accent-clr);
}

#wrapper__box:hover #corner-link-2:before {
  border-right: solid 1px var(--accent-clr);
}

#wrapper__box:hover #corner-link-2:before {
  border-bottom: solid 1px var(--accent-clr);
}

#wrapper__box div#wrapper__corner-box:hover #corner-link:before {
  border-right: solid 2px var(--accent-clr);
}

#wrapper__box div#wrapper__corner-box:hover #corner-link:after {
  border-top: solid 2px var(--accent-clr);
}

#wrapper__box div#wrapper__corner-box-2:hover #corner-link-2:before {
  border-right: solid 2px var(--accent-clr);
}

#wrapper__box div#wrapper__corner-box-2:hover #corner-link-2:after {
  border-bottom: solid 2px var(--accent-clr);
}

#corner-content {
  width: 125%;
  height: 125%;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: hidden;
  -webkit-mask: -webkit-linear-gradient(45deg, transparent 49%, #000 53%);

  //   border: 3px solid purple;

  &::before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  &::before {
    width: 100%;
    height: 100%;
    // border: 3px solid red;
    background-color: var(
      --match-clr
    ); /* Match this background color to #wrapper */
  }

  &:after {
    background: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 37%,
        #ddd 62%,
        rgba(230, 230, 230, 0.1) 64%,
        rgba(255, 255, 255, 0) 67%
      ),
      -webkit-radial-gradient(-50% 150%, circle, transparent 74%, rgba(
              0,
              0,
              0,
              0.2
            )
            74%, transparent 81%);
    //   display: block;
    width: 133%;
    height: 133%;
    // border: 3px solid chartreuse;
    // background: blueviolet;
  }
}

#corner-content-2 {
  width: 125%;
  height: 125%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  overflow: hidden;
  -webkit-mask: -webkit-linear-gradient(-45deg, transparent 49%, #000 53%);

  //   border: 3px solid purple;

  &::before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &::before {
    width: 100%;
    height: 100%;
    // border: 3px solid red;
    background-color: var(
      --match-clr
    ); /* Match this background color to #wrapper */
  }

  &:after {
    background: -webkit-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 37%,
        #ddd 62%,
        rgba(230, 230, 230, 0.1) 64%,
        rgba(255, 255, 255, 0) 67%
      ),
      -webkit-radial-gradient(-50% -50%, circle, transparent 74%, rgba(
              0,
              0,
              0,
              0.2
            )
            74%, transparent 81%);
    //   display: block;
    width: 133%;
    height: 133%;
    // border: 3px solid chartreuse;
    // background: blueviolet;
  }
}

// #wrapper__corner-box,
// #corner-content,
// #corner-link {
//   transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
// }

#corner-button {
  position: absolute;
  width: 7em;
  top: 0;
  right: 0;
  background-color: #900;
  color: var(--accent-clr);
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  padding: 8px 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 11px;

  strong {
    font-size: 13px;
    font-weight: bold;
    display: block;
  }
}

#corner-button-2 {
  position: absolute;
  width: 7em;
  bottom: 0;
  right: 0;
  background-color: #900;
  color: var(--accent-clr);
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  padding: 8px 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 11px;

  strong {
    font-size: 13px;
    font-weight: bold;
    display: block;
  }
}

#wrapper {
  &__corner-box-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    // border: 2px solid orangered;
    transition: all 0.3s cubic-bezier(0, 0.35, 0.5, 1.7);
  }

  &__box:hover #wrapper__corner-box-2 {
    width: 50px;
    height: 50px;
  }

  & &__corner-box-2:hover {
    width: 100px;
    height: 100px;
  }
}
