.fs-900 {
  font-size: var(--fs-900);
}

.fs-560 {
  font-size: var(--fs-560);
}

.fs-480 {
  font-size: var(--fs-480);
}

.fs-360 {
  font-size: var(--fs-360);
}

.fs-240 {
  font-size: var(--fs-240);
}

.fs-180 {
  font-size: var(--fs-180);
}

.fs-160 {
  font-size: var(--fs-160);
}

.fs-140 {
  font-size: var(--fs-140);
}

.fs-120 {
  font-size: var(--fs-120);
}
