@font-face {
  font-family: "d_CCMonologous";
  font-weight: bold;
  font-style: italic;
  font-display: swap; /* Read next point */
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("d_CCMonologous"),
    url("../fonts/d_ccmonologous_bolditalic.woff2") format("woff2"),
    url("../fonts/d_ccmonologous_bolditalic.woff2") format("woff");
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-560 {
  font-size: var(--fs-560);
}

.fs-480 {
  font-size: var(--fs-480);
}

.fs-360 {
  font-size: var(--fs-360);
}

.fs-240 {
  font-size: var(--fs-240);
}

.fs-180 {
  font-size: var(--fs-180);
}

.fs-160 {
  font-size: var(--fs-160);
}

.fs-140 {
  font-size: var(--fs-140);
}

.fs-120 {
  font-size: var(--fs-120);
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 0.6rem;
}

.doodle__text {
  font-family: var(--ff-comic);
}

// .doodle__text {
//   font-family: var(--ff-doodle);
//   fill: HSL(var(--primary-hs) 0%);
//   stroke: red;
//   stroke-width: 0.3rem;
//   stroke-linecap: round;
//   stroke-linejoin: round;
//   stroke-miterlimit: 10;
//   stroke-dasharray: 1100;
//   stroke-dashoffset: 1100;
//   // stroke-opacity: 0;
//   // animation: stroke 7s linear;
//   // animation-fill-mode: forwards;
//   // animation-delay: 4.5s;

//   & > * {
//     opacity: 0;
//     stroke-width: 0.3rem;
//     animation: opacity 3s linear;
//     animation-delay: 4.5s;
//   }
// }

// @keyframes stroke {
//   1% {
//     stroke-opacity: 1;
//   }
//   75% {
//     stroke-dashoffset: 0;
//   }
//   100% {
//     stroke-dashoffset: 0;
//     fill: HSL(var(--primary-hs) 100%);
//     stroke-opacity: 1;
//   }
// }
// @keyframes opacity {
//   1% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }
