:root {
  //colors
  --clr-primary: hsl(212, 93%, 84%);
  --clr-white: 0 0% 100%;
  --clr-black: hsl(0, 0%, 0%);
  --primary-hs: 0 0%;

  //fonts
  --fs-900: 9rem;
  --fs-560: 5.6rem;
  --fs-480: 4.8rem;
  --fs-360: 3.6rem;
  --fs-240: 2.4rem;
  --fs-180: 1.8rem;
  --fs-160: 1.6rem;
  --fs-140: 1.4rem;
  --fs-120: 1.2rem;
  --ff: 'Comic Neue', cursive;

  --padding-container: 0.6rem;
}
