:root {
  //colors
  --clr-primary: hsl(202, 65%, 51%);
  --clr-secondary: hsl(54, 100%, 50%);
  --clr-footer: hsl(23, 100%, 50%);
  --clr-menu: hsl(271, 76%, 53%);
  --clr-white: 0 0% 100%;
  --clr-black: hsl(0, 0%, 0%);
  --primary-hs: 0 0%;

  --nn: hsl(0, 0%, 100%);

  --clr-btn-1: hsl(205, 85%, 40%);
  --clr-btn-2: hsl(40, 5%, 12%);
  --clr-btn-3: hsl(344, 85%, 53%);
  --clr-btn-4: hsl(52, 61%, 90%);

  --clr-logo-1: hsl(274, 53%, 37%);

  --cursor-stroke: none;
  --cursor-fill: hsl(225, 86%, 46%);
  --cursor-stroke-width: 1px;

  //fonts
  --fs-900: 9rem;
  // --fs-560: clamp(3rem, 5vw, 7rem);
  --fs-700: 7rem;
  --fs-600: clamp(1.5rem, 4vw, 6rem);
  --fs-560: 5.6rem;
  --fs-480: 4.8rem;
  --fs-360: 3.6rem;
  --fs-240: 2.4rem;
  --fs-180: 1.8rem;
  --fs-160: 1.6rem;
  --fs-140: 1.4rem;
  --fs-120: 1.2rem;
  --ff: 'Comic Neue', cursive;
  --ff-doodle: 'Lemon', cursive;
  --ff-comic: 'd_CCMonologous';

  --padding-container: 0.6rem;
  --padding-corner: 2rem;

  --corner-flip-size-0: 2rem;
  --corner-flip-size-1: 7.5rem;
  --corner-flip-size-2: 16rem;
}

// @font-face {
//   font-family: 'CCMonologous-BoldItalic';
//   src: url('//db.onlinewebfonts.com/t/1f4eae42101e1f7e5c847a150dae981b.eot');
//   src: url('//db.onlinewebfonts.com/t/1f4eae42101e1f7e5c847a150dae981b.eot?#iefix')
//       format('embedded-opentype'),
//     url('//db.onlinewebfonts.com/t/1f4eae42101e1f7e5c847a150dae981b.woff2')
//       format('woff2'),
//     url('//db.onlinewebfonts.com/t/1f4eae42101e1f7e5c847a150dae981b.woff')
//       format('woff'),
//     url('//db.onlinewebfonts.com/t/1f4eae42101e1f7e5c847a150dae981b.ttf')
//       format('truetype'),
//     url('//db.onlinewebfonts.com/t/1f4eae42101e1f7e5c847a150dae981b.svg#CCMonologous-BoldItalic')
//       format('svg');
// }
