:root {
  //colors
  --clr-primary: hsl(202, 65%, 51%);
  --clr-secondary: hsl(54, 100%, 50%);
  --clr-footer: hsl(23, 100%, 50%);
  --clr-white: 0 0% 100%;
  --clr-black: hsl(0, 0%, 0%);
  --primary-hs: 0 0%;

  --clr-btn-1: hsl(205, 85%, 40%);
  --clr-btn-2: hsl(40, 5%, 12%);
  --clr-btn-3: hsl(344, 85%, 53%);
  --clr-btn-4: hsl(52, 61%, 90%);

  //fonts
  --fs-900: 9rem;
  --fs-560: 5.6rem;
  --fs-480: 4.8rem;
  --fs-360: 3.6rem;
  --fs-240: 2.4rem;
  --fs-180: 1.8rem;
  --fs-160: 1.6rem;
  --fs-140: 1.4rem;
  --fs-120: 1.2rem;
  --ff: 'Comic Neue', cursive;

  --padding-container: 0.6rem;
}

.clr-white {
  color: HSL(var(--clr-white));
}
